[2016-04-22 18:31] dimamelnic commented on #452
@nfsboy101 I wrote. I have 2 private server windose Server 2012
1 operates and the proxy all identical and the second is the same.

[2016-04-22 18:31] dimamelnic commented on #452
@Martinali12 I wrote. I have 2 private server windose Server 2012
1 operates and the proxy all identical and the second is the same.

[2016-04-22 18:32] nicolaspielte commented on #450
@hassanila97 will not you give me a few more cookies? :D

[2016-04-22 18:46] hassanila commented on #450
Sry I can't, otherwise I have no friends :D

On 22 April 2016 at 20:32, nicolaspielte notifications@github.com wrote:

##

_Med vänliga hälsningar_
_Hassan_

[2016-04-22 18:47] nicolaspielte commented on #450
then I'll thy friend :D  OK hmm

[2016-04-22 19:37] David1ali12 commented on #450
hassan answer on skype

[2016-04-22 19:41] Lukkez commented on #450
Can you give this script ? @hassanila97 not server, just UI

[2016-04-22 19:47] Lukkez opened #453 "[Repost]Keybind to change betwen default and blind in-game"

[2016-04-22 19:49] Lukkez commented on #423
I think c9.io can, c9.io support most of popular languages & 8080 port

[2016-04-22 20:02] David1ali12 commented on #448
turkish dumass

[2016-04-22 20:04] Martinali12 commented on #453
why you need that blind mode not even working

[2016-04-22 20:09] CupidStunts commented on #448
@problemsofworld haha, u mad bro...GJ BoozyYT..i like those who share & arent selfish :) for me the vps is more laggy than direct on comp. but nice share to the community <3

[2016-04-22 20:10] Lukkez commented on #453
Blind works, on older  versions, just put the cell control on the older version

[2016-04-22 20:11] CupidStunts commented on #448
https://www.youtube.com/watch?v=AnoHEkmmsUE

this was took down so ill put it back :)

[2016-04-22 20:14] nicolaspielte commented on #450
@hassanila97 can you sent me your Bots :D that would be really cool of you: D against 70 cookies? pls.

[2016-04-22 20:15] Martinali12 commented on #453
I will put  it with 100 cookies

[2016-04-22 20:39] Newpredator opened #454 "CheckerProxy into feeder.js"
We need a checkerproxy for not load all the proxies of the list:
I have an idea, put a checker before the bots run for the proxys in the file proxys.txt for example an if a proxy work send to a file workingproxys.txt for example and connect the bots with the 2nd file.

[2016-04-22 21:39] nicolaspielt opened #455 "PCWarstr Bots for cookies?"
has an even the bots of PCWarstr trading against cookies ?

[2016-04-22 22:19] #450 closed

[2016-04-22 23:47] Qasimmodo commented on #452
Set your Userscript and your server-sided files (config.js) to ws://bots.myservers.io:8081 Just search for ws:// in Notepad or in TamperMonkey and you'll find it in config.js and the userscript.

[2016-04-22 23:49] Qasimmodo commented on #447
Why don't they just run their own bots... Give them the userscript and get them to give them your UUID and run it for them. edit the userscript before you send it to them and then edit your config.js to ws://bots.myservers.io:8081 for the server. =)

[2016-04-22 23:52] Qasimmodo commented on #446
Yes. edit config.js and set the server to ws://bots.myservers.io:8081 then, locate the userscript and edit the userscript and also set it to ws://bots.myservers.io:8081 . You can use "find" (CTRL + F) to look for it, just search for ws:// or 8081 and you'll probably find it. Then simply give him or anyone in the future your userscript, get him to give you his UUID, put it in config.js. Then run th

[2016-04-22 23:53] Qasimmodo commented on #451
Edit config.js and set the server to ws://bots.myservers.io:8081 then, locate the userscript and edit the userscript and also set it to ws://bots.myservers.io:8081 . You can use "find" (CTRL + F) to look for it, just search for ws:// or 8081 and you'll probably find it. Make sure you edit config.js and change the UUID to yours.

[2016-04-22 23:54] Qasimmodo commented on #444
The agar.io servers allow 3 consecutive connections /server. (3 connections/sessions from the same IP)

[2016-04-22 23:54] Qasimmodo commented on #435
Edit config.js and set the server to ws://bots.myservers.io:8081 then, locate the userscript and edit the userscript and also set it to ws://bots.myservers.io:8081 . You can use "find" (CTRL + F) to look for it, just search for ws:// or 8081 and you'll probably find it. Then put your UUID in config.js. Then run the server-sided script.

Sorry if that was confusing, hope I helped.

[2016-04-22 23:56] Qasimmodo commented on #428
Yes. edit config.js and set the server to ws://bots.myservers.io:8081 then, locate the userscript and edit the userscript and also set it to ws://bots.myservers.io:8081 . You can use "find" (CTRL + F) to look for it, just search for ws:// or 8081 and you'll probably find it. Then simply put your UUID in config.js. Then run the server-sided script.

Sorry if that was confusing, hope I helped.

[2016-04-22 23:58] Qasimmodo commented on #342
Yes. edit config.js and set the server to ws://bots.myservers.io:8081 then, locate the userscript and edit the userscript and also set it to ws://bots.myservers.io:8081 . You can use "find" (CTRL + F) to look for it, just search for ws:// or 8081 and you'll probably find it. Then simply put your UUID in config.js. Then run the server-sided script.

Sorry if that was confusing, hope I helped.

[2016-04-23 01:56] piyushdevcode commented on #453
Really martinali

[2016-04-23 04:12] CupidStunts opened #456 "FB bots disconnect issue & collect mass mode."
well seen as though no one gives anything for free on here. i want to add these last 2 issues that bug me with the bots. nearly all FB bots disconnect after about 10-20 mins & i want eat/collect mass mode. with these last 2 things i will be content & happy. for trade i have 99 FB cookies. all made by me & only i have them. a good 30 of them are 43 mass & the rest will lvl up as time goes by :) low

[2016-04-23 04:28] Martinali12 commented on #456
so if I fix it u how many cookies u give me ?

[2016-04-23 04:30] David1ali12 commented on #456
there nothing wrong with code so delete this post before someone scam u lol

[2016-04-23 04:33] CupidStunts commented on #456
yah the disconnect issue is most likely proxies.sometimes they are ok. sometimes they just dissapear..
no one will scam me lol. ill want to test the code first lol. i know there are some scammers on here so i put it in to say dont bother trying lol

[2016-04-23 04:47] GoCyb3r commented on #448
Tried, don't work for me... it is not able to open port 8081 :/

[2016-04-23 04:55] GoCyb3r commented on #452
@Qasimmodo I did it, but still it can't connect to the server

[2016-04-23 04:57] GoCyb3r commented on #452
After I manually started the server.js :

events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: read ECONNRESET
    at exports._errnoException (util.js:870:11)
    at TCP.onread (net.js:550:26)

Process exited with code: 1

[2016-04-23 04:58] Martinali12 commented on #456
so If I fix disconnect you will give 100 cookies ?

[2016-04-23 05:11] Rassyp opened #457 "Bots decrease over time"
After starting my bots, they increase like normal, then when they stop increasing, they begin to slowly decrease. I could have 100 and then end with 20-30, and help or ideas to stop this decrease in bot numbers?

[2016-04-23 05:13] Cyanox62 commented on #446
What do you mean my run the "server-sided" script? Also, do i need to run this in a VPS or can i do it from my PC? Also do i need to portforward? And if so what ports?

[2016-04-23 05:28] CupidStunts commented on #457
socks proxys?
socks proxys never last long really. try http ones they are better.

[2016-04-23 06:26] Cyanox62 commented on #457
How do i use/get HTTP proxies? I have tried them before using #HTTP in the proxy.txt, but i always get errors and they never work, any ideas?

[2016-04-23 06:27] Cyanox62 commented on #446
Nevermind, i got it :)
Thanks

[2016-04-23 06:47] GoCyb3r commented on #447
Nothing much but just make them install the tampermonkey script and get their UUID and put it in the config, both connect to the internet and they will have the bots

[2016-04-23 07:08] ravyn120 commented on #456
Hey @CupidStunts I have the mass collecting feature add me on skype: ravyn812

[2016-04-23 07:31] JakeTDC commented on #423
??/

[2016-04-23 07:36] JakeTDC commented on #456
Change the defualt to blind easy pzy:)
and btw ive got 100 working proxies (HTTP)
AND THEY NEVER disconnect

[2016-04-23 08:23] CupidStunts commented on #456
@ravyn120 ill add you on skype
@JakeTDC the blind mode dont work lol & im just using free proxies so i aint really bothered. i could setup my own proxys with dante or squid but dont see the point.

[2016-04-23 10:17] mastkilxp opened #458 "need help with fb bots small question."
so i got around 30 facebook bots :D and it does say all 30 fb bots connected succesfully and says 30 token so it works. but when i do go in-game the bots only comes in small ones (10mass) i cant figure out why the bots arent working yes the fb cookies are mine i got from 30 friends fb cookies they didnt mind what i did wrong.

[2016-04-23 10:59] RogerAngell opened #459 "Close after some seconds."
My bots connect fine, but after few seconds it give me this error:

`C:\DATA\ogar-feeder-bot-master\node_modules\agario-client\agario-client.js:530
                throw e;
                ^

TypeError: Cannot read property 'name' of undefined
    at C:\DATA\ogar-feeder-bot-master\feeder.js:133:49
    at Array.map (native)
    at Object.<anonymous> (C:\DATA\ogar-feeder-bot-master\feeder.js:132:38)

[2016-04-23 12:21] CookieJuniorYT commented on #435
Now it says it failed to get token.

[2016-04-23 12:39] alezboyy commented on #457
because you don't have a reconnect script bots .

[2016-04-23 13:02] alezboyy opened #460 "Script reconnect bots after disconencted."
Script reconnect bots after disconnect. help me anyone?

[2016-04-23 13:10] CupidStunts commented on #458
update agario client

[2016-04-23 13:38] Enderbel commented on #456
I can buy the tokens work ?

[2016-04-23 14:20] Qasimmodo commented on #446
If it's been resolved close this ^_^

[2016-04-23 14:47] SanjaySasimandir commented on #457
@alezboyy  And how are we supposed to get that script?

@Rassyp Use good premium socks5 proxies.I had the same problem. A guy recommended me to use this site -  http://proxybag.blogspot.com/  .
My opinion about this site? - The proxies in this site are more working ones.
Hope that helps you.

[2016-04-23 14:53] SanjaySasimandir commented on #454
@Newpredator i can give you good Socks5 proxies. I got them from http://proxybag.blogspot.com/
#SOCKS5
186.251.228.31:29081
201.173.98.198:43883
177.129.43.87:29081
103.6.133.29:29081
186.227.24.146:29081
80.91.190.188:8181
177.38.249.232:29081
103.193.200.219:29081
100.38.163.202:54174
100.7.34.243:30655
138.94.74.24:29081
78.225.123.182:17183
201.172.71.216:36468
201.175.115.227:47692
89.3.100.1

[2016-04-23 14:59] SanjaySasimandir commented on #443
Get proxies from good sites like http://proxybag.blogspot.com/ or www.vipsocks24.net or both

[2016-04-23 15:44] #446 closed

[2016-04-23 15:46] Cyanox62 commented on #458
How/where do you update it from? I have 60 working tokens but none of them show up in game. Would be great to fix this.

[2016-04-23 15:59] Rassyp opened #461 "Updating agario-client for FB bots?"
I saw a comment on another issue about updating agario-client in order for facebook bots to work. I have 60 working tokens but none of them show up in game. If updating agario-client could fix this i would really appreciate some help. Can anyone tell me exactly how to update the file to fix FB bots?

[2016-04-23 16:01] Nick8fr32 commented on #461
i have updated but still dont work for me and i have 10 cookies/tokens

[2016-04-23 16:03] Cyanox62 commented on #461
How did you update it?

[2016-04-23 16:06] Nick8fr32 commented on #461
**npm install agario-client**

[2016-04-23 16:07] Cyanox62 commented on #438
8081 TCP & UDP

[2016-04-23 16:37] gamer2510 opened #462 "How can. I get pellet eating feature for my bots plz help Nd is there any way to restart bots from with a press of button"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-04-23 16:38] piyushdevcode commented on #462
Any way to restart bots from vps with a press of button

[2016-04-23 16:39] ravyn120 commented on #462
@gamer2510 I can help you with that but what do I get in return?

[2016-04-23 16:45] nicolaspielte commented on #462
https://github.com/davidmann4/ogar-feeder-bot/issues/420

[2016-04-23 17:18] Rassyp opened #463 "Cannot read property 'name' or undefined (Error)"
I am getting this error when trying to run these bots
http://prntscr.com/avwbpa
After this error finally passes, im left with only 5-10 working bots, any fix?

[2016-04-23 17:26] mastkilxp commented on #458
so i updated agario client but now in the console i get this error spammed really fast [typerror: cannot read property 'name' of undefined]

[2016-04-23 17:26] mastkilxp commented on #458
any fix for this please?

[2016-04-23 17:34] piyushdevcode commented on #462
I have nothing to give u cause u would be having everything BC  ur a good coder .if u wanna help for free then that would be good for me.if not no problem

[2016-04-23 18:02] Lukkez commented on #453
Ahahahaaha 100 cookies? noob, i have 703 cookies, 90% working, i don't give mine cookies, i lost much time to get them

[2016-04-23 18:06] ravyn120 commented on #456
Holy  crap i just noticed something i have 350 fb tokens damm

[2016-04-23 18:32] DeadWarrior58 commented on #448
@BoozyYT how do i get a card?

[2016-04-23 18:45] easyrider81 commented on #462
So much for open source.

[2016-04-23 18:45] sejo153 commented on #435
That means you have banned cookies for fb botz

[2016-04-23 18:45] sejo153 commented on #435
But 10 mass should work

[2016-04-23 18:47] sejo153 commented on #445
@Nick8fr32 From whic website? And where you checking it ?

[2016-04-23 18:48] Nick8fr32 commented on #445
[this](http://www.gatherproxy.com/sockslist) and [this](http://www.vipsocks24.net/)

[2016-04-23 18:56] CookieJuniorYT commented on #435
I have never used the fb bots feature, idk how to activate that, and now my client doesn't even know i am pressing e and r.

[2016-04-23 18:56] Cyanox62 commented on #458
I have the same issue https://github.com/davidmann4/ogar-feeder-bot/issues/463

[2016-04-23 18:58] Cyanox62 commented on #457
@nfsboy101 I use proxies from that site, they are just as bad as you other free ones

[2016-04-23 19:13] DeadWarrior58 opened #464 "Multiple cookies! (2)"
how do i get multiple cookies??? psl  help

[2016-04-23 19:21] Nick8fr32 opened #465 "bots dont connect with mass"
okay so i have 50+ tokens and i get no fb bots with mass. why??

[2016-04-23 20:03] ElieeCh opened #466 "Honestly.."
I just read tons of threads in this repo and most of them come out as the same result ... which is no answer or extremely bad ones. This is one of the most interesting ones : https://github.com/davidmann4/ogar-feeder-bot/issues/261
But it also led to no answer ... which is frustrating a lot.
If you don't know how to answer my question please don't reply to this issue
Question: How on earth does Ba

[2016-04-23 20:06] DeadWarrior58 commented on #456
@JakeTDC  i really need your help... how do i make a lot of cookies i can only make one but i doesn't work because i disconnect from facebook so i play with registered account

[2016-04-23 20:07] DeadWarrior58 commented on #456
@JakeTDC  i don't beg for cookies (because i don't know how to use them) nor tokens the only thing i want is help... and if you send me 1 token .... then... thx... but that's not the point i want my own accounts pls help me

[2016-04-23 21:11] ravyn120 commented on #465
same i'm using 350+ tokens

[2016-04-23 21:20] DeadWarrior58 opened #467 "hassanila97 I NEED YOU!"
i need you to help me with my facebook bots tell me your skype or something i'll do anything for you... the God of Code

[2016-04-23 21:24] agarioBotDev commented on #464
you can buy working cookies on http://d-bots.com/prices/developer/

[2016-04-23 21:48] philw1508 commented on #467
He wont

[2016-04-23 21:49] philw1508 commented on #466
They have private ones which arent published

[2016-04-23 21:50] philw1508 commented on #466
And yes they have to pay

[2016-04-23 21:58] wartoz commented on #464
i got 380+ cookies working add iTwiGXDev on skype

[2016-04-23 22:11] DeadWarrior58 commented on #464
@Wartoz  accept

[2016-04-23 23:33] Cyanox62 commented on #407
How did you fix it?

[2016-04-24 00:28] ravyn120 opened #468 "what should I do?"
I have 357 FB tokens all working and I don't know what to do with them because FB bots don't work for me

[2016-04-24 00:35] santabis opened #469 "Facebook bots"
Help me)
fill in the form its new facebook bots:
https://docs.google.com/forms/d/11_w6BpkgSdD9mqWtnY7OjuxUfDJCAIdA_9Nyf5mqUiw/viewform
Think you)

[2016-04-24 00:44] santabis commented on #456
Give me cookie, i help you)?
skype: facebook:222415918146688
bots not disconecting)

![image](https://cloud.githubusercontent.com/assets/17793119/14764821/882bb4ba-0a09-11e6-9d2b-975f4434bf6d.png)

[2016-04-24 00:54] santabis commented on #468
Give me
xs
dara r
c user
i help you))
Skype: facebook:222415918146688

[2016-04-24 01:17] CupidStunts commented on #458
https://github.com/pulviscriptor/agario-client

[2016-04-24 01:19] ravyn120 commented on #468
@santabis fuck off

[2016-04-24 01:23] santabis commented on #468
@ravyn120 -_-

[2016-04-24 01:44] ravyn120 commented on #468
@santabis you just want cookies...

[2016-04-24 01:48] sejo153 commented on #468
yea i have about 30 and using bots on c9.io and get bots about 200 but no fb :/

[2016-04-24 01:50] Nick8fr32 commented on #468
ravyn get on discord i can help u

[2016-04-24 01:52] sejo153 opened #470 "Share usercript with restar button"
If someone have...

[2016-04-24 01:53] Nick8fr32 commented on #470
i made one that restarts when u press **s**

[2016-04-24 01:54] santabis commented on #468
@santabis i help you, and you me cookie
Well there is no way

[2016-04-24 01:54] sejo153 commented on #456
@JakeTDC How do you using HTTP proxies?
@ravyn120 wanna share for share?

[2016-04-24 01:56] Nick8fr32 commented on #456
just type #HTTP and then the proxies under @sejo153

[2016-04-24 01:56] sejo153 commented on #456
Ok i'll try

[2016-04-24 01:58] santabis commented on #470
add to cookie) for facebook bots)
https://docs.google.com/forms/d/11_w6BpkgSdD9mqWtnY7OjuxUfDJCAIdA_9Nyf5mqUiw/viewform#responses

[2016-04-24 02:06] sejo153 commented on #470
@Nick8fr32 wanna share
@santabis yea sure, have my own why should use yours :3

[2016-04-24 02:08] Nick8fr32 commented on #470
@sejo153 it is already shared [here](https://github.com/davidmann4/ogar-feeder-bot/issues/420)

[2016-04-24 02:10] sejo153 commented on #470
@Nick8fr32 i dont understand, can u ss me or something ?

[2016-04-24 02:20] ravyn120 commented on #468
@Nick8fr32 okay

[2016-04-24 02:22] ravyn120 commented on #468
@Nick8fr32 cant Your message could not be delivered because you don't share a server with the recipient or you disabled direct messages on your shared server, recipient is only accepting direct messages from friends, or you were blocked by the recipient.

[2016-04-24 02:24] Nick8fr32 commented on #468
i send u a friend request

[2016-04-24 03:26] piyushdevcode commented on #470
Does this work with vps too

[2016-04-24 03:42] #468 closed

[2016-04-24 03:50] CupidStunts commented on #469
no 1 is going to do that dude lol. might aswell just give up asking lol

[2016-04-24 03:53] CupidStunts commented on #465
guys. i had this & i just updated agario client here

https://github.com/pulviscriptor/agario-client

also use http proxys not socks

[2016-04-24 03:58] CupidStunts commented on #462
@easyrider81 ikr lol. the only thing people should be keeping to themselves really is cookies & proxys. every1 wants something for something tho. heck even im getting that way....this community lol...so sad

[2016-04-24 04:13] CupidStunts commented on #461
@Nick8fr32 no that dont work lol. get it from here https://github.com/pulviscriptor/agario-client

[2016-04-24 05:05] kurama129 opened #471 "share the restart files and join me for making bots ive got 189 cookies"
can some one make a fully done feeder.js and userscript.js for restart and send it to kgamingforfun@gmail.com thx and also join for making fb bots with me i already made it just to manage thhe thing thx

[2016-04-24 05:53] Rassyp opened #472 "Bot Reconnect Script"
Can anyone help me out with a script that reconnects any disconnected bots, so the bots do not decrease over time? Any help i'd appreciate :)

[2016-04-24 06:11] ghost commented on #472
its already mADE tell your skype

[2016-04-24 06:13] Rassyp commented on #472
Skype: zpasswordz
add me

[2016-04-24 06:16] ghost commented on #472
added

[2016-04-24 06:22] ALBABOY commented on #472
kurama123 my skype is anpealb please add me or tell me yours i really want the code

[2016-04-24 06:35] #456 closed

[2016-04-24 07:21] wartoz commented on #472
kurama129 can you share it i got 380+ cookies and client with timer if u want my skype iTwiGXDev

[2016-04-24 07:52] sejo153 commented on #472
just share it here

[2016-04-24 07:52] mastkilxp commented on #458
so i downloaded the file do i have to replace to replace my files with those files?
i really dont get how to update it cus it only tells me how to download it and install it

[2016-04-24 07:55] sejo153 commented on #453
i've got 30 cookies, but on c9.io not even one fb bot connects :(

[2016-04-24 08:00] easyrider81 commented on #458
Just replace the files in the node_modules/agario-client folder. npm install agario-client on the node CMD is easier.

[2016-04-24 08:18] mastkilxp commented on #458
ok thanks it worked but i get still this error sometimes [typerror: cannot read property 'name' of undefined] any fix for that or?

[2016-04-24 08:19] piyushdevcode commented on #462
Guyz help plz

[2016-04-24 08:51] easyrider81 commented on #458
screen print the full error here.

[2016-04-24 09:00] mastkilxp commented on #458
here it is http://imgur.com/4aEyiyB hope you can figure it out it spams really quickly

[2016-04-24 09:22] ravyn120 commented on #453
:) who wants to trade I have keybind to switch from blind to default and default to blind in newest version

add me on skype: ravyn812

[2016-04-24 09:25] ravyn120 commented on #464
@DeadWarrior58 do you remove the cookies on logout from facebook?

[2016-04-24 11:45] nicolaspielte commented on #450
@hassanila97 can you me sent me your Stop script?

[2016-04-24 12:38] wartoz commented on #465
same problem and update agario client didn't fix it :/

[2016-04-24 13:55] Nixeld commented on #166
what proxy socks work for agar.io?

[2016-04-24 15:35] ravyn120 commented on #465
@Wartoz are your cookies banned

[2016-04-24 15:40] CookieJuniorYT commented on #435
How do u make it to Facebook bots????

[2016-04-24 15:43] CookieJuniorYT opened #473 "How to turn the 10 mass bots to fb?"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-04-24 16:28] JakeTDC commented on #473
Cookies :)

[2016-04-24 16:51] Rassyp opened #474 "240 cookies, only 2 FB bots?"
I have 240 cookies and a working FB bot script, but i only get around 2-3 FB bots ingame, all the rest are normal, any ideas?

[2016-04-24 17:10] wartoz commented on #474
me too often i got 400+ working fb cookies and updated fb script i don't know how to fix

[2016-04-24 17:40] ravyn120 commented on #474
Do you use the free fb bot script and your cookies might be banned

[2016-04-24 18:15] hassanila commented on #474
No.. cookies are not banned.. thats not the prob..   the prob is that you would need to edit agar.io client to use token only when bot is actually connected and not before.              What is happening is that the bots get the token and try to connect trough the proxy.. if the proxy fails = token is lost = no fb bot.

[2016-04-24 18:19] hassanila commented on #450
I didnt make it yet to work from node.js, what I've done is to restart the script and wait for connection using batch on Windows.. and I have a completely different version of bots.. not online and it's private. so..

[2016-04-24 18:37] ravyn120 commented on #474
Ohh okay that seems pretty easy to do

[2016-04-24 18:46] CookieJuniorYT commented on #473
Cookies?
On 24 Apr 2016 17:28, "JakeTDC" notifications@github.com wrote:

[2016-04-24 18:59] nicolaspielte commented on #450
@hassanila97 sent me :D

[2016-04-24 19:24] DeadWarrior58 opened #475 "ANDROID? Use: afk exp"
I really need this bots not on dolphin browser but on agar.io for android

[2016-04-24 19:29] wartoz commented on #474
have you a fix for this hassanila97 ?

[2016-04-24 19:29] wartoz commented on #474
agarbot.ovh have it i think

[2016-04-24 19:50] Luka967 opened #476 "What is ws://104.236.100.252:8081 used for?"
I've locally made another line of defense against bots on Ogar, and I needed to actually test it. So I picked this up. However I'm struggling to find out why doesn't the userscript work.
I've went to F12 mode and saw this error:
`VM3781:6 GET http://`**`104.236.100.252:8081`**`/socket.io/?EIO=3&transport=polling&t=LH9qBfT net::ERR_CONNECTION_REFUSED`.
Everything else seems to work fine.

So what i

[2016-04-24 19:55] hassanila commented on #474
Yes, I've fixed it in my code.. but as said my code is completely rewritten and doesn't even use agar.io-client.. and it's private  NO SHARE :D   Its easy to implement if you can even 1% JS

[2016-04-24 19:56] ravyn120 commented on #474
@Wartoz i'll make it when I have time

[2016-04-24 20:01] wartoz commented on #474
thanks ravyn120

[2016-04-24 20:01] ItzLevvie commented on #476
That is the feeder server.

[2016-04-24 20:07] Nick8fr32 commented on #474
I dont get this u have 100+ cookies and get Like 2 fb bots when i use 10 cookies i get Like 8-10 fb bots?

[2016-04-24 20:32] ItzLevvie commented on #476
1) Make sure you've changed ```var socket = io.connect('ws://104.236.100.252:8081');``` to ```var socket = io.connect('ws://127.0.0.1:8081');``` (which can be found at https://github.com/davidmann4/ogar-feeder-bot/blob/master/agario-feeder-bot.user.js#L84)
***
2) Make sure you've changed ```config.feederServer = "ws://104.236.100.252:8081";``` to ```config.feederServer = "ws://127.0.0.1:8081";```

[2016-04-24 21:02] Cyanox62 commented on #474
@ravyn120 when you make it can yoi post it here?

[2016-04-24 21:27] Lukkez commented on #450
@hassanila97 You can't send the ui of bot counter etc?

[2016-04-24 21:37] Cyanox62 commented on #474
@hassanila97 if I get premium proxies that all work, then because no proxies would fail all tokens should work right?

[2016-04-24 21:38] hassanila commented on #474
yes

On 24 April 2016 at 23:37, Rassyp notifications@github.com wrote:

##

_Med vänliga hälsningar_
_Hassan_

[2016-04-24 21:41] easyrider81 commented on #473
Yes cookiiiiiiiies

[2016-04-24 21:47] Cyanox62 commented on #474
@hassanila97 what file would I modify to make the tokens connect only to bote who are connected?

[2016-04-24 21:52] hassanila commented on #474
agario-client.js

[2016-04-24 21:55] hassanila commented on #450
I can when I have time.. cuz  it requires me to edit much of the feeder and userscript

[2016-04-24 22:16] Luka967 commented on #476
Ah, it worked. Thanks

[2016-04-24 22:16] #476 closed

[2016-04-24 22:27] Cyanox62 commented on #474
@hassanila97 you know how when you start the bots it checks and counts the amount of tokens, should I change it so it does that after it connects the bots? Or am I supposed to do something other than that

[2016-04-24 22:47] AwesomeLikeThis opened #477 "tokens"
Is it normal for the bot console to get spammed with failed tokens and then:

SyntaxError: Unexpected string
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:300:12)
    at Module.require (module.js:353:17)
    at require (inte

[2016-04-24 23:21] CookieJuniorYT commented on #473
For real... tell me.

[2016-04-25 02:13] hassanila commented on #473
For making mass bots you need facebook accounts.. and what most ppl. here do is to steal users cookies to use their account as bots.

[2016-04-25 03:02] KyraCloud commented on #458
Easyrider81 can you add me on skype i dont know how to update agario client

[2016-04-25 05:22] dada211 opened #478 "free fecebook bots agar.io"
when you're 100
c_user
datr
xs
token
I'll give a link to download fecebook 100 bots
send to this post data 79162839440@yandex.ru

[2016-04-25 06:14] ALBABOY opened #479 "Cant see bots but i use 40 cookies"
i use an modified extension and have about 40 working cookies but when its about to play its only just 10 mass can you guys please help me
it even  says total fb we get is 40 but see no bots with skins can anyone help me or give me the files they use please i have about 3000 proxyies which result in 300 bots

[2016-04-25 07:07] CookieJuniorYT commented on #473
And how do you do that...

[2016-04-25 09:32] SrNicolas commented on #478
HAHAHAH lol, get a cookie stealer don't ask for cookies lololol

[2016-04-25 09:32] SrNicolas commented on #473
I do that :D

[2016-04-25 11:10] hassanila commented on #478
Plz fuck off @dada211

Sincerely,
Hassan

[2016-04-25 13:50] Newpredator commented on #474
Agarbot.ovh no is fixed. It give the accounts of users. look at the extension at back.js :/

[2016-04-25 13:52] DeepSnowNeeL commented on #474
Yes we do, read our ToS. :)

[2016-04-25 14:27] sejo153 commented on #479
#474

[2016-04-25 14:32] sejo153 commented on #474
@hassanila97 If you want i give you 30 cookies to make it for me. Thats all i have btw

[2016-04-25 14:32] ALBABOY commented on #479
Stop spam bitch

[2016-04-25 14:36] hassanila commented on #479
He's not spamming bitch.. he's redirecting you to the right place.

[2016-04-25 14:40] easyrider81 commented on #473
Good for you, have a cookie.

[2016-04-25 14:42] ALBABOY commented on #479
@hassanila97 Im new to GitHub thats why i didnt know.Thanks for letting me know :P

[2016-04-25 14:43] hassanila commented on #479
Ok :P

[2016-04-25 14:44] CupidStunts commented on #474
@DeepSnowNeeL so ovh steals FB cookies? WTF

[2016-04-25 14:45] hassanila commented on #474
Yes, most extensions and userscript also do, you need to edit the code before actually installing any extension :P

[2016-04-25 14:46] CupidStunts commented on #474
@hassanila97 thats why i always use a G+ account haha

[2016-04-25 14:57] CookieJuniorYT commented on #473
Can u make a little vid or something? ?

[2016-04-25 15:01] hassanila97 commented on #473
He steals cookies... meaning he codes an extension/script and gives it out to users calling it free bots.. then he gets the cookies of those users that used it.

[2016-04-25 15:05] sejo153 commented on #474
@hassanila97 Answer my question at least? xD

[2016-04-25 15:24] CookieJuniorYT commented on #473
But where do you put the cookies and stuff...

[2016-04-25 15:27] sejo153 commented on #473
just wait for his video of 'free bots' :D

[2016-04-25 15:46] CookieJuniorYT commented on #473
Do you have skype, I really need help.

[2016-04-25 15:58] ghost commented on #477
You write correct, the cookies?

[2016-04-25 16:09] sejo153 commented on #473
sejo.dedic4 I can tell you from where you get cookies, and where you put it, but you will still be without fb bots

[2016-04-25 16:35] CookieJuniorYT commented on #473
My bots stopped working nvm

[2016-04-25 16:43] gamer2510 opened #480 "Give a script for pellet eating function for bots"
Any help regarding this is appreciated

[2016-04-25 16:47] easyrider81 commented on #458
Comment out line 530 in agario-client.js and get better proxies.

what's your skype @KyraCloud

[2016-04-25 18:30] mastkilxp commented on #458
:D worked thankyou so much btw can you add me on skype?:mastkilxp

[2016-04-25 18:34] CupidStunts commented on #480
got skype?

[2016-04-25 19:31] wartoz commented on #480
cupidstunts have you the script ? my skype : iTwiGXDev

[2016-04-25 19:57] easyrider81 commented on #458
added.

[2016-04-25 20:00] KyraCloud opened #481 "FB Bots cant connect"
i tested this with normal and with fb bots when i use fb bots they cant connect to the server but with normal bots they can i dont know why someone help me?

[2016-04-25 20:17] CupidStunts commented on #480
i have it yeah :)

[2016-04-25 20:50] Kasra-G commented on #477
I don't understand D:

I went and snooped around in the files and  found a place where it said to input facebook credentials

(xs, datr, c_user) and I did it, but it did not fix the issue

[2016-04-25 22:08] Kasra-G commented on #477
nevermind, i managed to fix it somehow :/. Just messed around with a bunch of files and it got fixed

[2016-04-25 22:08] #477 closed

[2016-04-26 01:05] piyushdevcode commented on #480
Cupid stunts Skype me at -piyush2510001

[2016-04-26 05:22] problemsofworld opened #482 "R.I.P ovh now I have bots with 132 mass 24/7 soon will start selling :)"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-04-26 05:25] #482 closed

[2016-04-26 05:46] Cyanox62 commented on #458
Easyrider, please add my skype: zpasswordz

[2016-04-26 06:18] SanjaySasimandir commented on #474
@Rassyp Hey dude, do you know if your cookies are good? If they are it might be the proxies. the cookies need proxies to connect to the game. So it is important to use good proxies from trusted sites. Use either http://proxybag.blogspot.com/ or http://www.vipsocks24.net/ both. They have very good proxies and mostt of them work. Hope this fixes your problem.  :D

[2016-04-26 06:38] SanjaySasimandir commented on #481
@KyraCloud Hey, First make sure that your cookies are working. You can see that when the bat file starts up. If it say failed to get toke it means the cookies are bad. If your cookies are working, its probably the dead proxies. So make sure that you are using latest working proxies. Get proxies from sites like http://proxybag.blogspot.com/ or http://www.vipsocks24.net/ . I use both of them and the

[2016-04-26 09:05] wartoz commented on #480
cupid add me again i canceled the request skype  : iTwiGXDev

[2016-04-26 09:17] mastkilxp opened #483 "question about fb cookies"
so i want to get a few more fb cookies. atm i got 23 working but i want to get atleast 50 fb bots. so does this work? i create like 20 more fb accounts take their cookies and paste them in my script? is that going to work? cus cookies? cache? idk can anyone please explain. any information will be appreciated.

[2016-04-26 09:17] #458 closed

[2016-04-26 11:17] KyraCloud commented on #481
@nfsboy101 Thanks the cookies are working ill try to check for new proxies, also is it normal to not have tokens in the fb manager?

[2016-04-26 11:20] KyraCloud commented on #481
@nfsboy101 oh also where do i get more cookies or do i jusr create accounts like crazy.

[2016-04-26 11:33] Nick8fr32 commented on #481
@KyraCloud u cant create that Many acc its gonna ask for a phone nummer

[2016-04-26 11:47] CupidStunts commented on #480
added you both.. i think

[2016-04-26 12:15] piyushdevcode commented on #480
Yup

[2016-04-26 13:40] CupidStunts commented on #480
@gamer2510 have dude :)

[2016-04-26 13:42] CupidStunts commented on #480
fun

[2016-04-26 13:56] SanjaySasimandir commented on #457
@Rassyp Sorry to hear that. Try http://bulksocks5.blogspot.in/

[2016-04-26 15:28] xXhydraXx opened #484 "Grey Agario"
the agar.io site went grey after installing your script

[2016-04-26 15:34] CupidStunts commented on #484
do you have other bot extensions or scripts still active?

[2016-04-26 15:53] ghost commented on #484
no no other ones enabled

[2016-04-26 15:54] ghost commented on #484
ok i just noticed i had one my mistake

[2016-04-26 16:38] #484 closed

[2016-04-26 16:39] Lukkez opened #485 ""." in name bug"
When i put a name with "." the name doesn't work why?

[2016-04-26 16:42] xXhydraXx opened #486 "Complete new problem"
Now i cant use bots as in the user script isnt connecting to the feeder script

[2016-04-26 16:52] piyushdevcode commented on #480
Ur the Cupid stunts

[2016-04-26 16:52] #480 closed

[2016-04-26 16:55] CupidStunts commented on #483
yes you create new FB accounts. copy c_user,,,,datr,,,,,xs into FBmanager. make sure that you have good proxys tho. http are best really they last longer

[2016-04-26 16:56] CupidStunts commented on #483
be sure to leave the account logged in tho & just dlete the cookies

[2016-04-26 16:57] CupidStunts commented on #485
its probably set to static not random

[2016-04-26 16:58] CupidStunts commented on #486
hydra you got skype.

[2016-04-26 16:59] CupidStunts commented on #486
ill give you my script just give me your uuid & you will be good to go

[2016-04-26 16:59] ghost commented on #486
yea ClassicAnon

[2016-04-26 17:00] CupidStunts commented on #486
k ill add now

[2016-04-26 17:00] ghost commented on #486
i meant classictoxin\* sorry

[2016-04-26 17:01] CupidStunts commented on #486
lol

[2016-04-26 17:02] CupidStunts commented on #486
you got it?

[2016-04-26 17:18] Cyanox62 commented on #474
Ive used those before, still only 2-3 FB bots. All of the cookies are good though :/

[2016-04-26 17:31] ghost commented on #483
I use HTTP goods for the fb, and SOCKS for the normals, It is just as well

[2016-04-26 17:53] mastkilxp commented on #483
hmm i dont get it? so i created 5 accounts and did it like this but didnt work out.
1. i created the account player agario lvl them to lvl 3
2. i copy those cookies from that user after they are lvl 3.
3.pasted them in FBmanager.
4. trying them but it says still 23/23 while i just added 5 more accounts :/ i dont understand how u meant to do this? 'leave the account logged in & just dlete the cooki

[2016-04-26 18:01] Nick8fr32 commented on #483
u need to delete the cookie before u logout of the acc @mastkilxp

[2016-04-26 18:02] Nick8fr32 commented on #483
forget it XD

[2016-04-26 18:03] mastkilxp commented on #483
but doesnt that remove the cookies from working?

[2016-04-26 18:03] Nick8fr32 commented on #483
no i do it in that way

[2016-04-26 18:04] mastkilxp commented on #483
k thankyou :D gonna try it. message soon the result thx so much already!!

[2016-04-26 18:05] mastkilxp commented on #483
you got to delete the cookies from the editthiscookie right?

[2016-04-26 18:07] Nick8fr32 commented on #483
i dont use editthiscookie i just go  in agario>f12>resourse>cookie>facebook copy it all and find the c_user, datr and xs. then i click on cookie>www.facebook.com  and press clear

[2016-04-26 18:08] mastkilxp commented on #483
k thx

[2016-04-26 18:18] mastkilxp commented on #483
i just gotta be sure sorry. so after i do clear in agario facebook cookies, i can just create a new acc again and repeath the steps? and it should work?

[2016-04-26 18:35] Nick8fr32 commented on #483
yes @mastkilxp ;)

[2016-04-26 19:32] KyraCloud commented on #481
@Nick8fr32 i have over 40 phone numbers i use an app.

[2016-04-26 19:33] Nick8fr32 commented on #481
Yea i know u Can use some sites to get that to but Maybe Someone already used all of them

[2016-04-26 19:35] KyraCloud commented on #481
@Nick8fr32 lol thats not what i mean theirs a web site where you can create email just by entering a name and then i use those email to create a phone number using and app #unlimited cookies

[2016-04-26 19:36] CupidStunts commented on #480
@gamer2510  lol. is that an insult or a compliment?

[2016-04-26 19:36] Nick8fr32 commented on #481
Can u help me with that?

[2016-04-26 19:40] valentinld commented on #463
Have the same problem

[2016-04-26 19:45] KyraCloud commented on #481
@Nick8fr32 sure first let me find the email creating  site :)

[2016-04-26 19:47] KyraCloud commented on #481
@Nick8fr32 you have skype?

[2016-04-26 19:48] Nick8fr32 commented on #481
no but i have [discord](https://goo.gl/bAer3k)

[2016-04-26 19:51] KyraCloud commented on #481
@Nick8fr32 whats ur name

[2016-04-26 19:56] easyrider81 commented on #457
Http no better in my opinion they still disconnect with bad packet errors over time.

[2016-04-26 21:04] KyraCloud opened #487 "Facebook cookies On Logout"
when i log out my facebook the cookies stops working

[2016-04-26 21:07] ghost commented on #487
Delete all cookies and reload the facebook

[2016-04-26 21:11] KyraCloud commented on #483
@CupidStunts is their a way to log into mutiple fb account i can only have 1fb account logged in at a time.

[2016-04-26 21:17] KyraCloud commented on #487
@BrunoOlyver how do i delete them ? thx for replying wuickly

[2016-04-26 21:48] CupidStunts commented on #483
when you got the cookies..just dlete them then facebook still thinks its logged in :)
thats what i do & it works

[2016-04-26 23:14] #487 closed

[2016-04-26 23:14] KyraCloud opened #488 "Proxy Checker"
Does anyone know a free program to check 1,000 proxies

[2016-04-27 00:00] #475 closed

[2016-04-27 00:00] #467 closed

[2016-04-27 00:03] DeadWarrior58 opened #489 "Bots random movement!"
When i start up my bots a lot of them move randomly to the borders or at just any other position. Is it proxy problem or modified code problem (because my proxies are free and laggy)?

[2016-04-27 00:06] DeadWarrior58 commented on #488
I got one but it sucks! out of 100 working proxies it gave me only 20 :P

[2016-04-27 00:11] DeadWarrior58 opened #490 "Token Generator?"
Can someone make a token generator? You put for example 10 cookies and it creates a file with the tokens like this :

Tokens :
   "token1",
   "token2",
   "token3"

Thank you,
DeadWarrior58

[2016-04-27 00:12] #422 closed

[2016-04-27 00:22] KyraCloud commented on #488
@DeadWarrior58
proxy checker the website? i tried that already it only checks out of 100 proxies i need to check 1000 working on somthing big if you help ill give you fb bots

[2016-04-27 00:24] CupidStunts commented on #489
i can fix that

[2016-04-27 00:24] CupidStunts commented on #489
i had it too lol

[2016-04-27 00:26] CupidStunts commented on #488
download Gptool from gatherproxy website

[2016-04-27 00:29] CupidStunts commented on #489
@DeadWarrior58 you got skype?

[2016-04-27 00:43] KyraCloud commented on #488
@CupidStunts if it works ill make cookies for you

[2016-04-27 00:55] HappyRocketwheel opened #491 "How do you make random bots go random positions and collect pellets, and on command they can follow your cell whenever you want?"
I've had this question for a really long time, and I wanted to know how to make my bots collect pellets and on control of a key, like pressing S, it would send them back to me.

I've seen other people do it, but how?

[2016-04-27 01:05] CupidStunts commented on #488
im good dude, i got my own cookies/ im not like all the others on here. ill give you my script/codes straight up for nothing :)

[2016-04-27 01:06] CupidStunts commented on #491
got skype?

[2016-04-27 01:06] ghost commented on #491
@CupidStunts yes, happyrocketwheel

[2016-04-27 01:06] CupidStunts commented on #491
k ill add you

[2016-04-27 01:34] KyraCloud commented on #488
@CupidStunts i already know that cupid ive been watching u for a while (no stalking i mean i saw ur post.)

[2016-04-27 01:35] KyraCloud commented on #488
@CupidStunts how do i use the proxy checker

[2016-04-27 01:39] KyraCloud commented on #488
@CupidStunts i know i saw ur other post, also do you know how to get cookies to not disapear when connect to a bad proxy?

[2016-04-27 01:53] hassanila commented on #467
Sry but too many ppl. (50+) send me custom requests to code them something... and that would require me to work on GitHub and have it as my job... :P  Sry

[2016-04-27 01:59] CupidStunts commented on #488
I KNOW A TRICK, but its not proper solution

[2016-04-27 01:59] KyraCloud commented on #488
@CupidStunts mind telling also have a skype?, another qeustion is higher timeout or lower timout better

[2016-04-27 02:03] CupidStunts commented on #488
ill tell yeah..whats your skype?

[2016-04-27 02:05] CupidStunts commented on #488
you mean timout on proxys? lower... 3 secs

[2016-04-27 02:06] KyraCloud commented on #488
kirio16 lol funny skype name ik

[2016-04-27 02:10] CupidStunts commented on #488
you corrode?

[2016-04-27 03:40] ALBABOY opened #492 "Can your internet speed determine the bots you can use"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-04-27 03:58] ALBABOY opened #493 "Can someone give me the Files for bots?"
I know we post questions here because here is the only place when you get reply's for bots because @davidmann4 Welldone did them.this Files haven't been updated since 1 month from the developer.
Can someone give me the working files with fbmanager.js and other files that make the bots work with fb mass ?

[2016-04-27 04:26] Nick8fr32 commented on #490
@DeadWarrior58 i have it

[2016-04-27 05:12] hassanila commented on #492
Yes it definetely depends on your bandwidth..  more bandwidth = more bots....  Why not use a vps?  There you can often get up to 300 bots with no problem even with your slow internet.

[2016-04-27 06:09] mastkilxp commented on #483
ok thanx but is it normal you can only create 3 facebooks? or is it 3 facebooks a day? idk? but anyway i cant use HTTP proxies cus the script only supports socks5 :( any fix?

[2016-04-27 06:53] DeadWarrior58 commented on #489
@CupidStunts  yes i have skype. Skype name : live:deadwarrior58_1

[2016-04-27 06:53] DeadWarrior58 commented on #490
@Nick8fr32  send it on discord

[2016-04-27 06:55] DeadWarrior58 commented on #492
@hassanila97 can you recommend a cheap ,but good, vps?

[2016-04-27 06:55] #490 closed

[2016-04-27 10:43] Nick8fr32 commented on #490
Later

[2016-04-27 11:04] SanjaySasimandir commented on #492
@ALBABOY yes internet speed also determines the number of bots you can use.
If you have low internet speed and if you try to get more bots your game will get laggy making it impossible to play.
You can use a VPS if you like. Also try to get good proxies that has less ping and fast connection speeds. You can use http://proxybag.blogspot.com/ or http://bulksocks5.blogspot.com/ or http://www.vipsocks

[2016-04-27 11:11] SanjaySasimandir commented on #489
@CupidStunts can you give it to me too?

[2016-04-27 11:16] SanjaySasimandir commented on #488
@KyraCloud Here are name of some proxy tools:

Gatherproxy tool
Proxy Multiplytool
IP Proxy Scraper v2.5.0.1
GSA Proxy Scraper
vProxyScraper

Name of proxy sites:
http://proxybag.blogspot.com/
http://bulksocks5.blogspot.com/
http://www.vipsocks24.net/

[2016-04-27 11:34] KyraCloud commented on #488
@nfsboy101 thx so much dude :)

[2016-04-27 11:59] SanjaySasimandir commented on #472
@kurama129 can you please share it to me too? please  skype nfsspeedingboy

[2016-04-27 13:15] BoozyYT opened #494 "Hassanila97 REPLY!!"
You Are Muslim !!??
Also Check out my bots here :D (With VPS)
https://www.youtube.com/watch?v=XOYWHb2D4-0

[2016-04-27 13:42] CupidStunts commented on #494
he wont lol. why another friggen.tk site tho lol

[2016-04-27 13:45] AdibAgar commented on #494
:3 any problem ? -_-

[2016-04-27 13:47] CupidStunts commented on #494
nah its just there everywhere & well hassan wont if you done that lol...

[2016-04-27 13:47] CupidStunts commented on #494
reply

[2016-04-27 13:50] CupidStunts commented on #494
ive just looked at your script... do you know how to add split16...cause i cant get it working lol...
i have eat pellet mode & restart & everything else.. just split 16 i need lol

[2016-04-27 13:50] CupidStunts commented on #494
ill trade ya if you can

[2016-04-27 13:51] Nick8fr32 commented on #494
I have it

[2016-04-27 13:52] CupidStunts commented on #494
you do!! skype?

[2016-04-27 13:52] CupidStunts commented on #494
its the last piece i neeeeeeed haha

[2016-04-27 13:52] CupidStunts commented on #494
i got restart from you lol. thx 4 that dude

[2016-04-27 13:53] Nick8fr32 commented on #494
U mean like a tricksplit right?

[2016-04-27 13:53] CupidStunts commented on #494
yeah

[2016-04-27 13:53] CupidStunts commented on #494
give me your skype

[2016-04-27 13:54] CupidStunts commented on #494
ill give you my script.. you will like it :)

[2016-04-27 13:54] Nick8fr32 commented on #494
join my [discord](https://goo.gl/bAer3k)

[2016-04-27 13:56] mastkilxp commented on #483
can anyone please add me on skype?: mastkilxp i need some help

[2016-04-27 13:57] mastkilxp commented on #483
with the script

[2016-04-27 14:03] hamido12 opened #495 "Agar.io // New Free 400 bots + instalation + gamePlay"
Agar.io //  New  Free 200 bots + instalation + gamePlay  sub like share and Thnx
➥ Video :  https://www.youtube.com/watch?v=xHTX89u8psU
 ➥ Webs : http://mrdrx.tk﻿

[2016-04-27 14:25] #483 closed

[2016-04-27 14:26] mastkilxp opened #496 "how do i setup HTTP proxies instead of socks5?"
does anyone know this? how do i change from SOCKS5 to HTTP proxies? pleas let me know how i should do it.

[2016-04-27 16:15] easyrider81 commented on #496
Just put #HTTP in the proxy list file and your http proxies underneath. This is all stated in the proxy-sample.txt file.

[2016-04-27 16:17] easyrider81 commented on #494
I just use an autohotkey script to trick splitt myself or bot.

[2016-04-27 16:22] easyrider81 commented on #492
I use a vps and can get up to 500 bots or so but if you want to be able to control them and not have delayed response when pressing split etc or just not lag the server to fuck then less is better. 200 works Good for me.

[2016-04-27 16:27] mastkilxp commented on #496
alright thank you so much :)

[2016-04-27 16:31] Lukkez commented on #485
like, if i put name google.com the name just don't appear on the two types

[2016-04-27 16:33] mastkilxp commented on #463
Comment out line 530 in agario-client.js should work make a backup tho for incase

[2016-04-27 17:19] sejo153 commented on #489
I have the same problem when its about 200 or 180 they move randomly and they slow getting commands to split or feed.

[2016-04-27 17:26] easyrider81 commented on #489
@CupidStunts add me on skype too please Easyrider8111, i'd be interested in this fix and the bots collecting mass one.

[2016-04-27 17:33] #496 closed

[2016-04-27 17:35] mastkilxp opened #497 "can anyone help me with this error report?"
i got a new error i never saw before. is this because of the proxies or? [img]http://i.imgur.com/EHP6Ji4.png[/img] pls help i think this is of the proxies but not sure.

[2016-04-27 17:39] sejo153 commented on #481
@Nick8fr32 When i create accounts, i use fake phone number :D

[2016-04-27 18:21] Nick8fr32 commented on #481
U need to confirm ur number so how

[2016-04-27 18:37] Flathe opened #498 "Facebook bots not working"
Hey guys,

I tried to use Facebook bots, but all token failed ... I tried with new Fb account cookies, same error

Can someone help me ?
Thx

[2016-04-27 18:43] CookieJuniorYT opened #499 "My bots don't connect to my server."
When I open up my start.bat file this comes up
BotsServer:
C:\Users\User\Desktop\FWBOTS.GA v2.0\FWBOTS.GA\server>node server.js
Starting server on port 8081
User connected with id:bHbufwizdyaFNql
Keep in mind, that isn't my id....
startbots:C:\Users\User\Desktop\FWBOTS.GA v2.0\FWBOTS.GA>node f.js
{ owned: false, maxMass: false, minLevel: 0, maxLevel: 100 }
generating tokens...
Failed to get token!

[2016-04-27 18:45] CupidStunts commented on #489
@easyrider81 added you :)

[2016-04-27 18:49] mastkilxp commented on #499
make sure u got ur UID filled in the config and installed the userscript if u need any help with that message me on skype:mastkilxp

[2016-04-27 18:49] hassanila97 commented on #494
@CupidStunts   STOP telling ppl that I wont answer... did I say I wont?  So stop.. you already said it in another issue...  BoozyYT  I blocked you on Skype cuz you keep spamming.. Yes Im a muslim and proud of it.

[2016-04-27 18:50] hassanila commented on #492
Cheap and reliable vps is OVH

[2016-04-27 18:51] sejo153 commented on #489
@CupidStunts can you help me too ? sejo.dedic4 on skype

[2016-04-27 18:51] hassanila97 commented on #492
Well I can get 500 bots no lag on 2 servers at the same time..   250/server

[2016-04-27 18:52] mastkilxp commented on #498
did you logged in to your fb account and copy the cookies and paste and logged out and so on?
cus if thats how u did it its wrong u got to copy the cookies place them in FBmanager then go in agar.io
f12>recourses>cookies>facebook.com and clear those after u cleared them in agar.io then log out. then the internet web idk still thinks the account is online. for anymore help message me at skype:mastk

[2016-04-27 18:52] sejo153 commented on #481
on gmail it dont require that i think

[2016-04-27 18:54] CupidStunts commented on #494
@hassanila97 lol. you reply but dont tell anyone anything. so its not a reply really

[2016-04-27 18:56] CupidStunts commented on #485
.com wont ive tried that

[2016-04-27 19:24] Flathe commented on #498
Oh okay dude, thanks a lot !!

[2016-04-27 19:24] #498 closed

[2016-04-27 19:30] CupidStunts commented on #489
@sejo153 added you

[2016-04-27 20:32] easyrider81 commented on #492
I'm using OVH aswell actually. not tried on 2 servers though.

[2016-04-27 20:43] easyrider81 commented on #497
i get that with HTTP proxies as they slowly disconnect. Not with SOCKS though.

[2016-04-27 20:43] alezboyy opened #500 "reconnect script for bot?"
reconnect script for bot after disconnect?

[2016-04-27 20:49] easyrider81 commented on #489
Don't see you added @CupidStunts what's the first part of your Skype?

[2016-04-27 21:24] KyraCloud opened #501 "Fb bot disconnect"
im using NOPROXY to test 1 fb token and i get 2 bots. the one with the token cant connect

HELP PLZ :'(

[2016-04-27 21:24] #481 closed

[2016-04-27 21:54] polarbear2g opened #502 "facebook bot connect with livebots"
How do i make it so only bots in game have the facebook tokens and not ones offline

[2016-04-27 21:59] polarbear2g opened #503 "facebook bot connect with livebots"
How do i make it so only bots in game have the facebook tokens and not ones offline

[2016-04-27 22:18] ravyn120 commented on #503
Uhh auth token set to null and when connect auth_token = token or what ever

[2016-04-27 22:25] ghost commented on #474
@hassanila97 Please share it to me on skype, I will praise youu

[2016-04-27 22:33] ALBABOY commented on #503
ravyn120 please bro give me your skype

[2016-04-27 22:36] polarbear2g commented on #503
element jacob kong = my skype

[2016-04-27 22:36] polarbear2g commented on #503
i need help too

[2016-04-27 22:41] polarbear2g commented on #495
400 bots in title 200 in youtube title 100 in youtube video really bro

[2016-04-28 01:23] KyraCloud commented on #503
@ravyn120 can you help me with that pls

[2016-04-28 01:26] Cyanox62 commented on #488
@CupidStunts I have my own bots, but i cannot seem to get FB bots to connect to only working proxies, any chance you could help me out? I'd really appreciate it :)
Add my skype: zpasswordz

[2016-04-28 01:36] ravyn120 commented on #474
It's simple set auth token to null and emit when the bot is connect to server the add token and re try like 5 times

[2016-04-28 01:46] KyraCloud commented on #488
@Rassyp i thought u said u knew how heres a solution not a complete fix

repeat ur cookies a few time in your fb manager so if it comes by a failed proxy their will be more cookies still

[2016-04-28 01:47] #501 closed

[2016-04-28 07:21] mastkilxp commented on #503
same what line or file is that in?

[2016-04-28 07:49] wartoz commented on #503
need a fix

[2016-04-28 10:15] Cyanox62 commented on #488
@KyraCloud you mean copy and paste my cookies one or twice so I have double or triple? Won't a cookie only work once?

[2016-04-28 10:29] mastkilxp commented on #502
no/yes aslong as the cookies are valid, and this is how do you it. u got to copy the cookies from facebook or agar.io place them in FBmanager then go in agar.io
f12>recourses>cookies>facebook.com and clear those after u cleared them in agar.io then log out. then the internet web idk still thinks the account is online. for anymore help message me at skype:mastkilxp i help you out with this noproble

[2016-04-28 11:43] KyraCloud commented on #488
@Rassyp no they work more then once thats what cupid told me to do it works

[2016-04-28 11:53] #497 closed

[2016-04-28 11:57] mastkilxp opened #504 "how to connect first bot then give the bot the facebook cookies?"
does anyone know how to connect the bot first and then give it the facebook cookies?
i saw hassanila97 explaining this he said somewhere in the agario-client code but idk what to change does anyone has a code for me i can paste in it so it works? add my on skype pls. skype:mastkilxp

[2016-04-28 12:02] AdibAgar commented on #494
@hassanila97 I'm also muslim :3
and i don't even have ur skype :'(
i don't spam !!!!!!

[2016-04-28 12:55] polarbear2g commented on #491
can help me too cupid please

[2016-04-28 13:13] MuccaDiocan opened #505 "400 bots working!!?"
is possible like on this vid
https://www.youtube.com/watch?v=DxPyYdbvIpY&feature=youtube_gdata
to get all these bots? can i have this version?

[2016-04-28 13:54] ghost commented on #504
hint: feeder.js

[2016-04-28 13:56] ghost commented on #500
go to the tampermonkey script and CTRL + F and find the keyword "cases"

do something with this:

[code]

[2016-04-28 14:04] sejo153 commented on #500
@HappyRocketwheel can you make one for me, but im on vps friend tell me its not working, only local

[2016-04-28 14:06] CupidStunts commented on #504
@HappyRocketwheel lol mr tinfoil     aaaaaaaawwwwwwww  leafy

[2016-04-28 14:07] Nick8fr32 commented on #505
U can get 400+ with this script😂

[2016-04-28 14:17] sejo153 commented on #474
@ravyn120 Can you help me about that, i have tried but not work

[2016-04-28 15:41] sinisterdev commented on #505
i get 150 max..

[2016-04-28 15:50] Nick8fr32 commented on #505
thats because ur proxies or if u have bad internet

[2016-04-28 16:31] sejo153 opened #506 "Botz wont connect (c9.io)"
Past night i use them everything was working fine
[PICTURE](http://prntscr.com/axykm4)
Changed server in tampermonkey and config.
Dont know why wont work.

[2016-04-28 16:40] sejo153 commented on #470
close

[2016-04-28 16:40] #470 closed

[2016-04-28 16:51] egold555 commented on #350
Im having the same problem exept the server is denying my connection when the userscript in tampermonkey trys to connect to it

[2016-04-28 16:55] Nick8fr32 commented on #350
u need to change the ip @egold555

[2016-04-28 17:00] piyushdevcode commented on #506
Ur workspace r private lol

[2016-04-28 17:01] piyushdevcode commented on #506
Don't show ur username dude

[2016-04-28 17:01] piyushdevcode commented on #506
Do u have skype

[2016-04-28 17:31] sejo153 commented on #506
it used to work like this, but i fix ty

[2016-04-28 17:31] #506 closed

[2016-04-28 18:07] mastkilxp commented on #504
any more hints pls? there are 1503 lines in between wich lines should i look?

[2016-04-28 20:25] DeadWarrior58 opened #507 "Free Public Server -LOOK-"
I made a free public server for people to join : ws://www.public-feederserver.c9users.io:8081

You can change line 84 on davidmann's user script or put it in your own one!

[2016-04-28 20:36] ghost commented on #474
@sejo153 Me too

[2016-04-29 04:30] aleksgaming commented on #479
@ALBABOY  hahah noob :P

[2016-04-29 08:56] kurama129 opened #508 "virtual box port forwarding"
how to port forward on virtual box windows 2012 r2

[2016-04-29 10:19] #471 closed

[2016-04-29 10:38] problemsofworld opened #509 "any1 here can set up IPN"
we can pay skype:lv-0agar1

[2016-04-29 11:50] MasonBurdette commented on #509
Those are easy.
https://github.com/andzdroid/paypal-ipn

Skype - masonthegreifer

[2016-04-29 16:21] ghost commented on #504
switch this infront of when bots start ( you may need to recode this )

[code]

[2016-04-29 17:47] mastkilxp commented on #504
eww i hate to recode :( it usually make alot of erorrs :( but i try thnx, if anyone already coded this pls give me the code if you can i would appreciate it

[2016-04-29 19:16] ghost commented on #507
How would we connect our UUID's to your server?

[2016-04-29 19:28] Cyanox62 commented on #474
@ravyn120 Could you help me with this? I would appreciate it a lot :)
Add my skype: zpasswordz

[2016-04-29 20:16] levisdj123 opened #510 "I keep getting the same issue with conecting to the feeder server!"
GET http://104.236.100.252:8081/socket.io/?EIO=3&transport=polling&t=LHZfLfI net::ERR_CONNECTION_REFUSED

that keeps spaming my console in inspect element on agario and it says my bot is offline, please help :(

[2016-04-29 20:28] DeadWarrior58 commented on #507
@Coto16 change it on the user script

[2016-04-29 22:23] DeadWarrior58 opened #511 "where to put cookies?"
I have a ton of scripts but all of them have a problem or do not have the feature i want for facebook i have a script but bots move randomly and slow command time but if i use stavj's script my bots don't even connect! If i use my friend's script it doesn't have fb manager! Can someone pls send me a GOOD  script?

[2016-04-30 00:09] ravyn120 commented on #511
make your own XD array the cookies and make a function to get tokens then set client.auth_token = (wutevermanager).getToken(this.bot.id)

[2016-04-30 00:51] #509 closed

[2016-04-30 03:08] polarbear2g opened #512 "my bot slowly decrease"
does anyone know how to keep bots connecting after they disconnect???

[2016-04-30 04:53] ravyn120 commented on #512
check if max bots is reached and if its not bot.client.spawn

[2016-04-30 07:11] sejo153 opened #513 "How to set minimum mass before feed?"
In config this option is not working.
Is there other way to set it ?

[2016-04-30 07:29] RuneBots opened #514 "Timer ingame"
Ive got an timer on my bots, so they close automatically when the time is up. I tried to get the timer on my GUI, didn't work. If anyone here around can help me, I will be pleased.

[2016-04-30 07:30] RuneBots opened #515 "Facebook bots patched?!"
I got a feeling that FB bots are patched. I cant get any Facebook bot anymore. I heard from people that you first need to connect the bots, and then the cookies. But I have no idea how to do that.
Skype: rune_bots

[2016-04-30 07:42] alezboyy opened #516 "reconnect code?"
hi all , can help me anyone?

        bot.client.on('disconnect', function() {
            if (config.verbosityLevel > 0) {
                bot.log('Disconnected from the server.');
            }
            if (spawnCount > 0){ spawnCount--; bot_count--;}
            socket.emit("spawn-count", spawnCount + '/' + config.maxBots);
        });

i need a function for reconnecting bot after disconnect

[2016-04-30 07:51] ghost commented on #515
ill help you but you need to share bots

[2016-04-30 07:55] ghost commented on #515
btw there not patched

[2016-04-30 09:18] sejo153 commented on #515
@kurama129 can you help me 2? I share my cookies with you if you want too
skype sejo.dedic4

[2016-04-30 10:03] #510 closed

[2016-04-30 10:47] DeadWarrior58 commented on #511
you know that your comment didn't really help right ? @ravyn120

[2016-04-30 10:55] Nick8fr32 commented on #515
i just tested bots(with fb) and they still work ;)

[2016-04-30 11:12] ghost commented on #515
yo agario did an update which you can only login with fb only on 1 pc 1 tab no mutli using for 1 account so if some1 uses ur cookies ofc you cant use it at the same better forget about Fb bots or making new account for bots which you cant create more than 5 accounts  will ask for phone number test 1 account log in and ask a friend to login at the same time ur account on pc once ur friend login wil

[2016-04-30 11:17] Nick8fr32 commented on #515
That update is like 1 month old. And don't forget about Facebook bots they are easy to make but it is hard to make the accounts @problemsofworld  @RuneBots

[2016-04-30 11:18] problemsofworld opened #517 "agar.io update will not let you share ur cookies"
you cant login more than once on any account even on different ip or pc if some1 use ur cookies you cant use at same time .

[2016-04-30 11:19] Nick8fr32 commented on #517
No that's why u need to make ur own accounts @problemsofworld

[2016-04-30 11:21] ghost commented on #515
I made a bot that can make 200 Fb accounts per day But I wont share :) btw no this update is not 1 month old because bots could connect and after a while they were getting kicked but now they get kicked imedetly .

[2016-04-30 11:23] Nick8fr32 commented on #515
U can't make a bot that makes fb accounts to you @problemsofworld

[2016-04-30 11:24] ghost commented on #515
but I did it can make unlimited account I have a bot 1000 accounts :) I also sale 100 accounts for 50$  with lvl 5-7 personal use

[2016-04-30 11:25] Nick8fr32 commented on #515
Then try to send me 100 acc on discord

[2016-04-30 11:26] ghost commented on #515
I make it for my bot website  maybe I will give 10 account later

[2016-04-30 13:04] sejo153 commented on #515
So actually there is no shitys to edit agario-cilent to use token only when bots is connected ?

[2016-04-30 13:06] Nick8fr32 commented on #515
@sejo153 there is lol XD

[2016-04-30 13:29] sejo153 commented on #515
@Nick8fr32 Then help :(

[2016-04-30 13:31] Nick8fr32 commented on #515
@sejo153 what do i get if i help??

[2016-04-30 13:33] sejo153 commented on #515
@Nick8fr32 What can i give you if cookies are unnshareable lol
Im making my accs i can make couple for you

[2016-04-30 13:35] Nick8fr32 commented on #515
how many? @sejo153

[2016-04-30 13:36] sejo153 commented on #515
1/3 of all i made ? @Nick8fr32

[2016-04-30 13:39] Nick8fr32 commented on #515
okay get in my [discord](https://goo.gl/bAer3k)

[2016-04-30 14:26] ghost commented on #508
lol virtual box have the same ip of ur pc :P

[2016-04-30 15:29] ghost commented on #517
ikr im making

[2016-04-30 15:34] ghost commented on #515
wow boys big update no reducing bots overtime i edited script and also found a way to give enough time to fb to connect :)

[2016-04-30 15:39] ghost commented on #516
i have it new one but i aint gonna share

[2016-04-30 16:26] sejo153 commented on #515
@kurama129  skype ?

[2016-04-30 16:33] ALBABOY commented on #516
@kurama129 give me your skype or contact info i'll give you something

[2016-04-30 20:01] wartoz commented on #515
got fb bots fixed and 2K cookies working

[2016-04-30 22:35] anonymousxxx02 opened #518 "fb bots connect then disconnect"
i have 200 warking fb acount....my bots connect with facebook then immediately disconnect :(  PLEASE HELP

[2016-05-01 00:16] Bronce commented on #400
Yes, but u will need make a public server...
Example:
In feeder.js
socket.on('UUID', function(data){
    client_uuid = data;
    console.log('MY UUID: '+data);
})

In server.js
socket.on('UUID', function(data) {
    console.log(data);
    io.sockets.emit('UUID', data);
  });

And change socket.on login in Feeder...
"uuid": client_uuid,

  Done, now u have a public server

[2016-05-01 00:16] Bronce commented on #400
U will need change  user script too !!

socket.emit("UUID", client_uuid);

[2016-05-01 00:26] polarbear2g opened #519 "reconnect script"
can someone please help me to get script for bot to reconnect

[2016-05-01 01:00] gamer2510 opened #520 "Not getting fb bots but I have tokens"
Any help regarding this is appreciated

[2016-05-01 01:01] Nick8fr32 commented on #520
Maybe the acc are just banned

[2016-05-01 01:07] piyushdevcode commented on #520
But it's showing the no of total tokens?!!

[2016-05-01 01:07] piyushdevcode commented on #520
Can u give ur Skype ID:

[2016-05-01 01:09] Nick8fr32 commented on #520
I don't give my Skype away. Maybe u forgot to delete the cookies before u logout

[2016-05-01 01:13] ghost commented on #520
Your tokens/cookies must not be banned and must not be used by any other services such as OVH or other people, if it's leaked then this is probably why.

A facebook account can only be used once per tab and IP, and cannot host more than 1 agar.io session.

Make sure the tokens are all valid.

[2016-05-01 02:21] CupidStunts commented on #515
@Wartoz using proxys?

[2016-05-01 03:31] polarbear2g commented on #520
i have 6 facebook tokens ( ik they work cause they are mine ) they are all level 20+ and  i get no facebook bots too

[2016-05-01 03:54] polarbear2g opened #521 "couple mins in game and get that, and will cause huge lag spikes"
![image](https://cloud.githubusercontent.com/assets/18240371/14939997/c488786a-0f2e-11e6-86dc-9563e0f3c4bc.png)

[2016-05-01 05:37] sukass commented on #521
update agario-client

[2016-05-01 05:41] sukass commented on #504
just remove that line and write it on client.on connected

[2016-05-01 09:21] CupidStunts opened #522 "hassan you might want to see this?"
https://www.youtube.com/watch?v=cSWI4faOktA

some guy has bots called meybots & is using a cookie stealer lol

just saying... you might not be bothered..but thought id share lol

[2016-05-01 10:57] SrNicolas commented on #522
What is the problem with it? Hassan is my friend and Im the owner of meybots

[2016-05-01 11:43] mrdrxtk opened #523 "How TO get VPS !!"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-05-01 12:00] ghost commented on #523
ill help you you have skype vps is easy

[2016-05-01 12:01] ghost commented on #523
give youre id il help

[2016-05-01 12:29] Wartoz opened #524 "i got fb bots fix i search a restart script function"
i got already a kill bots function i search to add restart bot function can someone help me ? my skype iTwiGXDev
http://i.imgur.com/dak4zVO.png

[2016-05-01 13:02] ghost commented on #524
wghy do you need restart instead of that edit the client so that bots stay connected like ovh

[2016-05-01 13:26] hassanila commented on #522
LOL

[2016-05-01 13:31] ghost commented on #504
client.on connected by just removing the 2 lines I provided above?

[2016-05-01 13:33] alezboyy commented on #524
you need bat file for restart , my skipe alezboyy ;)

[2016-05-01 13:34] Roken120 opened #525 "Multiple uuid"
Hello
For Multiple UUID What is config need

[2016-05-01 13:34] ghost commented on #524
The restart function is not the FB bots fix

[2016-05-01 13:35] ghost commented on #522
LMAO

[2016-05-01 13:36] ghost commented on #525
I don't think you can connect your other friend with a different UUID.

[2016-05-01 14:06] wartoz commented on #524
i know happyrocketwheel but i want a restart bot function without bat file

[2016-05-01 14:13] ghost commented on #524
i have restart when you u  press u but its totally better a new coded script than ogar feeder

[2016-05-01 14:14] wartoz commented on #524
kurama129 go skype : iTwiGXDev

[2016-05-01 14:16] ghost commented on #524
you accept my request

im mew

[2016-05-01 14:17] wartoz commented on #524
i don't see your request delete and re request

[2016-05-01 14:18] wartoz commented on #524
what's your skype name put it and delete the post

[2016-05-01 14:18] ghost commented on #524
sent

[2016-05-01 14:19] wartoz commented on #524
i don't see it what's your skype name i add you

[2016-05-01 14:20] ghost commented on #524
ᗰᗴᗯ MEW

[2016-05-01 14:24] idkRage commented on #518
same issue
pls help

[2016-05-01 14:34] ghost commented on #524
hmmm wartoz you there

[2016-05-01 14:43] ghost commented on #525
i made a extesion which doesnt need uuid

[2016-05-01 15:19] sejo153 commented on #523
you can have c9.io its kind of vps :)

[2016-05-01 15:21] HappyRocketwheel opened #526 "BotCount issue"
Maximum bot count for me is 1000, and I have put SOCKS5 and #HTTP proxies for the bots, fully checked.

onboardingtime = 0
botsperip = 2

I run the bots, and i'm only getting a count up to 45 and then it lowers down, what is causing this?

[2016-05-01 15:22] sejo153 commented on #522
You cant steal cookies if only one person can use one account

[2016-05-01 15:24] sejo153 commented on #522
@SrNicolas Your bots are not disconnecting, how ?

[2016-05-01 15:37] Roken120 commented on #525
no i need a feeder server for multiple uuid is better

[2016-05-01 16:08] sejo153 commented on #526
I dont even check proxies, i put only socks five about 500 proxy (because i dont check them)
onboarding timer 40
bots per ip 3
And get about 150 sometimes 200 (but then they start lagging) on [c9.io](https://ide.c9.io)

[2016-05-01 16:23] ghost commented on #526
yeah if I go over 200, it lags.
and it gives 100 bots, thanks.

[2016-05-01 16:23] #526 closed

[2016-05-01 16:51] anonymousxxx02 commented on #525
@kurama129 can you share your extension with me

[2016-05-01 16:54] anonymousxxx02 commented on #524
@kurama129  do you have code for bots to stay connected????

[2016-05-01 17:50] rle-im commented on #178
It's says: Error: Cannot find module 'socket.io'

[2016-05-01 18:31] ItzLevvie commented on #178
Have you even installed the dependencies? ^^

[2016-05-01 18:34] anonymousxxx02 commented on #524
@Wartoz can you share your fb script with me

[2016-05-01 18:47] Rassyp opened #527 "VPS wont connect to server?"
I was using a VPS to run my bots (c9.io) yesterday working fine, now they wont connect to my server, any help?

[2016-05-01 19:17] sejo153 commented on #520
@polarbear2g give it to me i fix them :'D

[2016-05-01 19:18] AdibAgar opened #528 "Help Me please !!!"
When I install :(
https://www.youtube.com/watch?v=ZzJJAB79TgI
I get this
========================================
**module.js:341
    throw err;
    ^

Error: Cannot find module 'process-nextick-args'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/module.js:16:19)
    at Ob

[2016-05-01 19:19] sejo153 commented on #528
I think you just need to add [THIS](https://github.com/calvinmetcalf/process-nextick-args) in your node modules whic is missing

[2016-05-01 19:20] Nick8fr32 commented on #520
@sejo153 don't share my script...

[2016-05-01 19:23] sejo153 opened #529 "If someone is using only Facebook ( not playing agar on it), then can i use his cookies for bots?"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-05-01 19:23] AdibAgar commented on #528
@sejo153 in which file ?

[2016-05-01 19:28] sejo153 commented on #528
try in src-modules

[2016-05-01 19:31] AdibAgar commented on #528
now i get
Error: Cannot find module 'isarray'

[2016-05-01 19:33] sejo153 commented on #528
just google like "issaray github"
and download it and put in module folder
And whatever it wants download it

[2016-05-01 19:35] AdibAgar commented on #528
@sejo153  Thnx Bro :)
i really want to try that Private server :p

[2016-05-01 19:35] Nick8fr32 commented on #528
U can also just type npm install isarray

[2016-05-01 19:39] #527 closed

[2016-05-01 19:56] CupidStunts commented on #522
@hassanila97 there not yours right lol :) just seen it & thought it was cheeky lol

[2016-05-01 20:22] hassanila commented on #522
I made new version out of them.. I use base code only as base and have completely refractored the code...  so I can say that I have my own version out of em :D

The bots are not disconnecting cuz we have smart code..  its easy.. just use brain

[2016-05-01 21:49] anonymousxxx02 opened #530 "PLEASE HELP"
how to make bot connect only with FB

[2016-05-01 22:17] polarbear2g opened #531 "issues when updating script"
i still have the outdated script and fb bots dont work with it and so forth if someone helps and makes it work i will share 300 facebook tokens.

[2016-05-01 22:37] sejo153 commented on #531
Check is server in userscript and config same

[2016-05-01 22:48] polarbear2g commented on #531
sejo do you have skype

[2016-05-01 22:48] polarbear2g commented on #531
if you get mine to work with facebook bot i can give you cookies

[2016-05-02 00:02] sejo153 commented on #531
sejo.dedic4

[2016-05-02 00:21] ghost commented on #529
yes but when he or she  log out u can't use the same cookie ;p

[2016-05-02 05:35] mrdrxtk commented on #523
thnx bro .. how to get
http or SOCKS5 !! how good

[2016-05-02 06:19] hassanila commented on #523
SOCKS4/5 are good.  HTTP atleast for me are not working

[2016-05-02 07:51] laykatz opened #532 "How do you start bots in a different Operating system?"
Making this project for only windows is very limiting, there's Linux and Mac users that have a different file system for files, I can't  run start.bat from Linux because it's not supported I even tried a third party application "Wine cmd " which gives me a DOS command prompt but it still missing dependencies. Can start.bat be implemented in the Userscript so the browser loads them?

[2016-05-02 09:17] ghost commented on #529
yea you can but if he logs out it changes

[2016-05-02 09:18] ghost commented on #528
close the issue if solved

[2016-05-02 09:21] ghost commented on #522
hassanila97 i tested them there good :) nice work btw accept my friend request on skype

[2016-05-02 10:55] ghost commented on #523
you get get pro pack of c9.io its good

[2016-05-02 11:22] Coto16 opened #533 "Too few bots"
So, my bots work fine and stuff, but they're too few. Today they were up to 11 only. How can I get this to 50 or 100+ Bots? (Using VPS - c9.io)

I've heard that you need proxies and stuff, but when I try upgrading my proxies, 90% of them are not working. I've also heard that you need HTTP, SOCKS4 & SOCKS5 Proxies, but I don't know which one is the correct one...

[2016-05-02 13:41] CupidStunts commented on #532
you start the server & feeder in node on linux....the same way you do on windows... on mac idk but you can run it from a c9.io free vps

[2016-05-02 13:48] CupidStunts commented on #525
secretCode = 'myuuidcode';

function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

[code]

httpGet('https://youradress/access.php?id=' + secretCode);

[2016-05-02 15:07] anonymousxxx02 commented on #479
@ALBABOY can you give me 10 cookie to test my cookie

[2016-05-02 15:09] anonymousxxx02 commented on #474
@Rassyp can you give me 20 cookie to test my script ???????

[2016-05-02 15:24] Roken120 commented on #525
@CupidStunts Please send file because i am lost or add me skype my skype : emres120

[2016-05-02 15:43] sejo153 commented on #533
I use only SOCKS5 proxies and get 100+ bots. And i put about 800 proxies.
Bots per ip= 1
onboardingtimer = 40

[2016-05-02 15:43] #529 closed

[2016-05-02 16:17] easyrider81 commented on #513
Do you have the bots going off to feed working first?

[2016-05-02 16:21] ghost commented on #533
Went on the internet, looked for fresh SOCKS5 Proxies, got my list ( http://pastebin.com/raw/xYD3PR5q ) put it all into proxy.txt and have been waiting for like 15 minutes, and I just get 1/3000 Bots.... I also changed this to what you told me

(Bots per ip= 1
onboardingtimer = 40)

Maybe it's the proxies. Have you got a better proxy list you can send me? Or yours if you like? I can't seem to get

[2016-05-02 17:56] Lukkez commented on #485
.tk happen, .co, .co.kr (korea), .com.br, it's a bug on some module

[2016-05-02 18:02] Nick8fr32 commented on #485
i still works for me lol XD i think its in the agario client

[2016-05-02 18:07] Nick8fr32 commented on #485
`i think i found it line 533 to         //fix for unstable spawn on official servers`
`change that to `
`    spawn: function(name) {`
`        if(this.debug >= 3)`
`            this.log('spawn() called, name=' + name);`
``
`        if(!this.ws || this.ws.readyState !== WebSocket.OPEN) {`
`            if(this.debug >= 1)`
`                this.log('[warning] spawn() was called when connection was n

[2016-05-02 18:10] Nick8fr32 commented on #485
i think i found it line 533 to         //fix for unstable spawn on official servers
change that to
**    spawn: function(name) {**
**        if(this.debug >= 3)**
**            this.log('spawn() called, name=' + name);**

**        if(!this.ws || this.ws.readyState !== WebSocket.OPEN) {**
**            if(this.debug >= 1)**
**                this.log('[warning] spawn() was called when connection w

[2016-05-02 18:10] Nick8fr32 commented on #485
RIP

[2016-05-02 18:13] Nick8fr32 commented on #485
http://pastebin.com/raw/vUSRshbT

[2016-05-02 18:28] anonymousxxx02 opened #534 "FB bots"
GUYS HELP.... ..
Can anyone tell me how to make bots connect only with generated tokens

[2016-05-02 18:29] #530 closed

[2016-05-02 19:02] dada211 commented on #534
come on skype i help you  my skype didi15101994

[2016-05-02 19:02] aleksgaming commented on #479
@anonymousxxx02  here u have 200 cookies  they work but on me they come only 5 6 http://pastebin.com/raw/R8hEi9tN

[2016-05-02 19:07] 0katz commented on #532
I didn't look at the code under start.bat before posting this question. It's just initializing the f.js file,This issue can be closed. For Linux users install node from github and the OpenSSL dependency for crypto support.

[2016-05-02 19:07] #532 closed

[2016-05-02 19:13] sejo153 commented on #513
what do you mean? add me on skype sejo.dedic4

[2016-05-02 19:34] Rassyp opened #535 "Facebook tokens only connect to working proxies"
I have a problem, i have well over 200 cookies but many tokens connect to a bad proxy. That proxy does not spawn in a bot, and that means 1 less FB token in game.

Could anyone help me out with making FB tokens only connect to working proxies/bots that are spawned into the server? Thanks in advance.

[2016-05-02 19:45] DVally opened #536 "Can anyone help me idk how to make a reconnect script"
I have seen some posts where they put all the information that you have to do for the reconnect scrip. but i don't know where to put it can anyone make a tutorial or tell me exactly what i have to do please

[2016-05-02 19:56] #528 closed

[2016-05-02 20:37] anonymousxxx02 commented on #536
i want that script too

[2016-05-02 20:39] anonymousxxx02 commented on #535
@Rassyp can you give me 20 cookie to test my script please??

[2016-05-02 20:40] anonymousxxx02 commented on #534
@dada211 i dont use skype can you please send me the script in gmail
gmail: anonymousx023x@gmail.com

[2016-05-02 21:05] Anaphylaxis opened #537 "server-booted-up & hang"
Using both local servers hosted on PC that will be playing, and on a VPS. Even using the "public feeder server", it just says
[code]
On the server it says `Starting server on port 8081
User connected with id:Fv3G9edSACekg5B`
I have a config.js on my server, along with server.js and proxies.txt and that's it for my server.
On my client I have config, proxies, feeder, etc.
Even using "another" feede

[2016-05-02 21:11] anonymousxxx02 commented on #537
do you have your script on server or in your pc???

[2016-05-02 21:14] DylanIssa2 commented on #537
I started in the OP I tried both.

[2016-05-02 21:23] anonymousxxx02 commented on #537
if you ran bots on pc add this in config.js config.feederServer = "ws://127.0.0.1:8081";
and this in userscript  var socket = io.connect('ws://127.0.0.1:8081');

[2016-05-02 21:24] anonymousxxx02 commented on #537
what is OP ????

[2016-05-02 21:42] DylanIssa2 commented on #537
OP is original post/er, it's running on my VPS but I tried local PC and it still does not work. It's connecting because I can see in the server console it's connected with a correct user ID.

[2016-05-02 21:55] mastkilxp commented on #537
Im currently on holiday but heres somethings you should check.
1. When you open start in should pop up 2 console (cmd). Look at the one which displays the connection of the server. check if its connecting to the ip of the server ur playing on.
2. Update agarioclient.
3. Make sure node.js is installed but i think it already is.
4. Look for some more posts about this who know u find something.

[2016-05-02 22:07] anonymousxxx02 commented on #537
@Anaphylaxis if you ran bots on pc add this in config.js config.feederServer = "ws://127.0.0.1:8081";
and this in userscript var socket = io.connect('ws://127.0.0.1:8081');

[2016-05-02 22:16] mastkilxp commented on #537
@anonymousxxx02 thats already in the script if im right might only change the ws:// to what u just said but its fine.

[2016-05-02 22:37] Roken120 opened #538 "Public feeder derver"
Hello have you a emulator for create a public feeder server please

[2016-05-03 00:32] NovaHowl commented on #533
@Coto16
That proxy list is not SOCKS5. Try getting rid of the #SOCKS5 at the top of the proxy file. Get rid of everything and then paste it in. Hope this helps.

[2016-05-03 00:51] anonymousxxx02 commented on #479
@alexgaming you get only 5-6 fb bots because other people use that cookie too

[2016-05-03 01:51] hamido12 commented on #523
hassanila97 i have SMTP proxy is very very god i get with SMTP 250 bots

[2016-05-03 03:15] gamer2510 opened #539 "Can anyone give opponent mass viewing script?!!"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-05-03 06:45] fayizan opened #540 "Why it says Failed to get token!"
I entered correct tokens for all my fb accounts but still it says
Failed to get token! 100003560247928
Failed to get token!  *********************
Failed to get token!  *********************
Failed to get token!  *********************
TOTAL TOKENS: 1
All FBs Successfully Checked..

why its says total token is 1 as I have provided tokens for all accounts,Someone please help me
How to get big Mass B

[2016-05-03 08:49] mastkilxp commented on #540
If these are yours you probs entered them wrong. Do it like this.
1. Login to the facebook account get the cookies and paste them in ur FBmanager.
   2.go to agario and do f12-recourses-cookies-facebook clear the facebook cookies.
2. After u cleared the facebook login then logout cus the web,internet,Facebook, game. Still thinks the guy is logged in. Do this for all accounts and they should work :

[2016-05-03 08:50] mastkilxp commented on #540
If these are yours you probs entered them wrong. Do it like this.
1. Login to the facebook account get the cookies and paste them in ur FBmanager.
   2.go to agario and do f12-recourses-cookies-facebook clear the facebook cookies.
2. After u cleared the facebook login then logout cus the web,internet,Facebook, game. Still thinks the guy is logged in. Do this for all accounts and they should work :

[2016-05-03 09:41] anonymousxxx02 commented on #540
@fayizan they are your account or someone else???

[2016-05-03 10:46] anonymousxxx02 opened #541 "HTTP proxy error"
when i use http proxy i get this error
`Connection Failed: Error: unexpected server response (404)`
PLEASE HELP

[2016-05-03 11:39] fayizan commented on #540
yes they are my accounts..

[2016-05-03 12:26] DVally commented on #420
Can anyone make this on ide.c9.io and share it please.

[2016-05-03 13:30] DVally commented on #420
@problemsofworld hey can you share your c9.io please click share on c9.io page and invite me than please my email nakarvalentino@hotmail.com or invite me by my name ĐᗴΜ𝓞𝓝ＶᗩŁŁＹ☢

[2016-05-03 13:37] #486 closed

[2016-05-03 14:21] DylanIssa2 commented on #541
Then the proxy is not correct. 404 means "not found".

[2016-05-03 14:43] DylanIssa2 commented on #537
Apparently I forgot to do npm install, but there's a new problem.
Works now, but it seems like OxygenBot's feeder is much nicer (as in, it's multithreaded?) whereas this bot is linear and waits for a proxy to connect (which fails..) and completely waits for the connection to close until it makes a new bot, going through 10 bots in 10 minutes.

[2016-05-03 15:23] CupidStunts commented on #539
-    window.agar.hooks.drawCellMass = function(cell, old_draw) {
  -     if(cell.size > 20) return cell;
  -    }
  -
  -    window.agar.hooks.cellMassTextScale = function(cell, old_scale) {
  -    }
  -

its already in PR's

[2016-05-03 15:38] mastkilxp commented on #537
Lol, dont use ogar feeder use something like fwbots or oxygenbots. They are better and modifie them.

[2016-05-03 16:02] anonymousxxx02 commented on #541
@Anaphylaxis but i check the proxy and they are working

[2016-05-03 16:05] anonymousxxx02 commented on #540
@fayizan if you give me your acount i can make them work

[2016-05-03 16:45] easyrider81 commented on #513
cos you need the bot to feed on pellets to reach mass you set.

[2016-05-03 17:20] sejo153 commented on #513
I have eat pellets option for bots, but i must wait, i want them after one get lets say 40 mass then he come to me, and every simple bot

[2016-05-03 17:54] hassanila commented on #541
That error means the proxy doesnt support websockets...

[2016-05-03 17:56] easyrider81 commented on #513
Well my bots go finding pellets with the press off a button and the minimum mass option in config works too.

[2016-05-03 18:45] anonymousxxx02 commented on #541
@hassanila97 do you know how to fix that???

[2016-05-03 18:48] DVally commented on #489
@CupidStunts can you add me too please skype: angelo.v

[2016-05-03 19:06] easyrider81 commented on #541
yeah, get different proxies

[2016-05-03 19:07] DVally opened #542 "Bots have lagg?"
When i start the bots at the beginning it works fine when i have like 20bots but then is goes up to 70-80 than they don't follow me anymore they just go where i was like 30 seconds ago. anyone know how to fix this please tell me.

[2016-05-03 19:23] hassanila commented on #541
**Dont use HTTP proxies as the almost always dont support Websocket protocol.... use only SOCKS4 and SOCKS5 proxies and you will be good**

[2016-05-03 19:38] anonymousxxx02 commented on #541
@easyrider81 different http proxy or SOCKS4/5 ??

[2016-05-03 19:43] anonymousxxx02 commented on #541
Ok thanks guys for your help

[2016-05-03 19:46] #541 closed

[2016-05-03 20:25] DVally commented on #542
And yes i'm on a vps if anyone asks c9

[2016-05-03 20:42] easyrider81 commented on #542
Use a better VPS, get better internet, get a better PC. Could be all sorts of reasons.

[2016-05-03 21:19] Bronce opened #543 "Bot connect"
Hello, I want connect bots with facebook (I have 500 cookies).

But I see "Prevent crash" and bot stop connect and continue after seconds...

I give cookies if help me to connect 100% of bots

How I solve packet error to connect all with facebook and no stop...

[2016-05-03 22:30] anonymousxxx02 commented on #543
Does anyone else use that cookie ????

[2016-05-03 22:33] #518 closed

[2016-05-03 22:34] polarbear2g opened #544 "where is the updated script to run fb bots?"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-05-03 23:01] ItzLevvie commented on #542
Use Amazon EC2

[2016-05-04 00:15] piyushdevcode commented on #539
Thnx my bro

[2016-05-04 00:15] #539 closed

[2016-05-04 06:05] mastkilxp commented on #543
Ur probs using HTTP proxies. The one thay says prevent crash that means they offline or not working proxies are. Skype cough Mastkilxp

[2016-05-04 08:15] fayizan commented on #543
mastkilxp add me on skype fayizbe

[2016-05-04 12:35] problemsofworld opened #545 "how to login to agar account with cookies c-user,-datr,xs like bots do"
If I want to check my bot lvl or my bot skin and without going to log in on facebook I mean loginng with cookie possible and how THX

[2016-05-04 14:22] ravyn120 commented on #545
Uhh I think you can switch them in agar.io in inspect element

[2016-05-04 15:35] Lukkez opened #546 "Collect pellet mode"
How to make one bot to collect pellet? see this: https://www.youtube.com/watch?v=DtxsHTKS4ps they collected pellets to get BIG

[2016-05-04 19:30] DVally commented on #542
@ItzLevvie @easyrider81 i already found out i had to resize my workspace my cpu was full

[2016-05-04 19:31] #536 closed

[2016-05-05 00:30] sejo153 commented on #546
I have it
skype: sejo.dedic4

[2016-05-05 00:41] sejo153 opened #547 "Anyone know how to keep bots connected?"
@kurama129 was talking about it, if he wants help :)

[2016-05-05 01:10] Lukkez commented on #546
You can give for 500 working proxies?

[2016-05-05 02:30] AirTop opened #548 "FACEBOOK BOTS!!!"
http://imgur.com/BKjVK2t
BOTS LINK: https://goo.gl/eB3UBT

[2016-05-05 03:24] SanjaySasimandir commented on #545
You need to edit the cookies using inspect element and then save the html file. and the run it. I think this would work.

[2016-05-05 03:31] SanjaySasimandir commented on #547
I think you could add a refresh timer to the script. I think I saw something like that in one of the scripts.
I guess you could also node or run the .js files using .bat file and you could edit the bat file to refresh automatically.Search i google about this .bat file code and you might find something. Hope that helps!

[2016-05-05 03:44] fayizan commented on #548
do u really give bots..??

[2016-05-05 04:16] fayizan opened #549 "How to configure Amazon vps fro agar.io..?"
Skype: fayizbe

[2016-05-05 04:57] sukass commented on #547
you need good proxies, in my case i added setinterval so it can check if maxbots is not reached it'll keep spawning bots

[2016-05-05 05:00] sukass commented on #545
use editthiscookie, or you could just use agario-client. it can check level afaik. good luck

[2016-05-05 05:21] AirTop commented on #548
yes!

[2016-05-05 05:29] fayizan commented on #548
I did..can u give it pls

[2016-05-05 07:54] wartoz commented on #548
its a scam cookies steal

[2016-05-05 08:26] nicolaspielte commented on #450
@hassanila97 can sent me the Stop and Start script pls
![image](https://cloud.githubusercontent.com/assets/18007730/15039247/d069674a-12ab-11e6-89c8-8d7892016da4.png) skype Name nicolaspielte (rawq)

[2016-05-05 09:45] piyushdevcode commented on #546
Lukkez givr ur Skype

[2016-05-05 11:18] KyraCloud commented on #547
@sukass Share it

[2016-05-05 13:32] Flathe opened #550 "Agario patched server connection"
Agario just patched many things, i don't know more :/ bot won't work anymore

[2016-05-05 13:35] wartoz commented on #550
unzoom mode is patched too

[2016-05-05 13:41] Nick8fr32 commented on #550
bots works for me lol

[2016-05-05 14:27] sejo153 commented on #547
@nfsboy101 Im using c9.io :(

[2016-05-05 14:28] sejo153 commented on #548
@AirTop  You cant use anyone cookies, only ones you made, and how you keep your bots connected
:(

[2016-05-05 14:42] dimamelnic commented on #550
покупай у рага. или у багар. и все будет работать

[2016-05-05 14:45] Nick8fr32 commented on #550
i think he typed buy from raga or baga and all will work(plz type in english @dimamelnic)

[2016-05-05 15:11] easyrider81 commented on #550
Yep bots, zoom etc not working for me.

Says this when loading up agario now too so you probably connect to them differently:

<a href="https://gyazo.com/7498fd170b34a4f09cf16757c290a268"><img src="https://i.gyazo.com/7498fd170b34a4f09cf16757c290a268.png" alt="https://gyazo.com/7498fd170b34a4f09cf16757c290a268"/></a>

[2016-05-05 15:12] ghost commented on #550
lol I see some bots still works

[2016-05-05 15:24] ghost commented on #550
NVM fixed lol :)

[2016-05-05 15:44] easyrider81 commented on #550
how did you fix @problemsofworld?

[2016-05-05 16:36] wartoz commented on #550
clientm.pw bypass the fix

[2016-05-05 16:41] problemsofworld commented on #550
bestbots bypassed before them :P

[2016-05-05 16:56] Flathe commented on #550
So how to do

[2016-05-05 17:00] hassanila commented on #550
If they fixed it in less than 1hr  it means its ssoooool easy..

[2016-05-05 17:16] mastkilxp commented on #550
@hassanila97 u got yet a fix for it pls :D would be awesome <3, if not trying to fix on my own but the IP of servers changed and kept saying connect_server. skype me pls if u got something skype:mastkilxp

[2016-05-05 20:45] RuneBots opened #551 "Patch ;/"
Ill pay u 2 euros for fix.

baii

[2016-05-05 21:20] ghost commented on #551
no one takes less than 150 euro to fix this and btw take that 2 euro and buy a choclate for yourself

[2016-05-05 22:00] Lukkez commented on #546
i already got

[2016-05-05 22:10] Lukkez commented on #546
but is patched

[2016-05-06 04:53] problemsofworld commented on #551
lel

[2016-05-06 05:52] sukass commented on #547
@KyraCloud it's easy if you know a little of js language, just make it yourself

[2016-05-06 05:53] sukass commented on #547
@sejo153 try using google cloud vps. it has 2 months free trial and 24/7 uptime

[2016-05-06 06:03] MinersMC commented on #551
yeah

[2016-05-06 07:27] #545 closed

[2016-05-06 07:34] k69sknk commented on #550
Why only free bots are not working?

[2016-05-06 09:07] LostCodesy opened #552 "I updated bots"
Hey i updated bots and bots working, i deleted agar-expose in userscript and i coded coordinate and server ip function, it is worked.

Note:
Agar.io bots not fixed :D

[2016-05-06 09:13] mastkilxp commented on #552
hey nice man, guess ur one of the first to fixed it? can you explain in detail more what you exactly changed? im trying to fix it to but i cant get it to working? skype me on:mastkilxp we can work together if you would like to.

[2016-05-06 09:19] LostCodesy commented on #552
@mastkilxp oke add me to skype = greenskypark

[2016-05-06 09:25] mastkilxp commented on #552
added you :)

[2016-05-06 09:25] Russlyman commented on #552
@LostCodesy Can you post a Pull request with the updated code as this would benefit lots of people.

[2016-05-06 09:27] Russlyman commented on #552
@LostCodesy I will also add you on Skype later.

[2016-05-06 09:27] anonymousxxx02 commented on #552
@LostCodesy nice work bro....can you please send me the script in my gmail  anonymousx023x@gmail.com

[2016-05-06 09:30] LostCodesy commented on #552
Thank you all, me skype = greenskypark and my twitch = painguic

[2016-05-06 09:30] LostCodesy commented on #552
@anonymousxxx02 you have d-bots.com ?

[2016-05-06 09:39] anonymousxxx02 commented on #552
@LostCodesy no i dont have any bot website  and i dont use skype . if you want just send me the file in my gmail

[2016-05-06 10:29] imangryskills commented on #552
I added you on skype. Can you make a PR?

[2016-05-06 13:43] FreezeEngine commented on #516
@alezboyy please give me the script too...My skype:killer72379

[2016-05-06 13:46] FreezeEngine commented on #552
@LostCodesy please give me the script...My skype: killer72379

[2016-05-06 14:11] easyrider81 commented on #550
because the paid ones are recoded to work again by the makers. Free ones you have to wait for the goodwill of clever coders' to release fixes for free....most people on this open source community just brag they have fixed it and release nothing though.

[2016-05-06 14:17] Qwerliety commented on #550
@easyrider81 add me on skype

[2016-05-06 14:29] ghost commented on #550
qwerliety ill add you tell your skype id

[2016-05-06 14:38] easyrider81 commented on #550
add for what reason @Qwerliety ?

[2016-05-06 14:44] Qwerliety commented on #550
@easyrider81 talk about bots

[2016-05-06 14:44] Qwerliety commented on #550
skype: alexqwerliety

[2016-05-06 14:53] wartoz commented on #552
lostcodesy i added you my skype is iTwiGXDev i have a deal bro

[2016-05-06 15:45] problemsofworld opened #553 "need an update > bug"

[2016-05-06 15:45] #553 closed

[2016-05-06 16:07] wartoz commented on #552
accept me

[2016-05-06 16:12] Qwerliety commented on #552
accept me also
alexqwerliety

[2016-05-06 17:05] wartoz commented on #552
bots unpatched skype:iTwiGXDev http://i.imgur.com/BHTC7Wj.png

[2016-05-06 17:42] fayizan commented on #552
Wartoz please reply on skype,I already have u on skype : fayizbe

[2016-05-06 17:53] TheSZionx commented on #552
Wartoz please skype : TheSZionx

[2016-05-06 18:18] Lukkez commented on #552
Someone who get can post a pastebin link for the fix?

[2016-05-06 18:24] anonymousxxx02 commented on #552
Wartoz FAKE look tha date in foto its in 2015

[2016-05-06 18:25] ghost commented on #552
fuck u wartoz scammer

[2016-05-06 18:26] wartoz commented on #552
http://i.imgur.com/BHTC7Wj.png

[2016-05-06 18:29] anonymousxxx02 commented on #552
@Wartoz In the foto say waiting  Status..... That not your bots you scammer

[2016-05-06 18:32] fayizan commented on #552
Yes Wartoz is trolling

[2016-05-06 18:33] Nick8fr32 commented on #552
this was my bots before patch http://i.imgur.com/FxKhu7A.jpg

[2016-05-06 18:35] ghost commented on #552
so what scammer

[2016-05-06 18:38] fayizan commented on #552
@Nick8fr32 don't u lag with that much of bots..lol

[2016-05-06 18:45] ghost commented on #552
proof that I made a bot to make 500 accounts per day and then send me cookies :) http://imgur.com/hnCM2U7

[2016-05-06 18:48] Nick8fr32 commented on #552
@fayizan the agario server crashed

[2016-05-07 00:04] problemsofworld opened #554 "now extesions don"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-05-07 00:05] Nick8fr32 commented on #554
lol why??

[2016-05-07 00:19] ghost commented on #554
when use extension it don't let u to join a party . u can still use tamper monkey

[2016-05-07 00:38] LostCodesy commented on #554
Yes, now fixed all extension in agar.io, not use a extension in agar.io for IP ban have in agar.io for bot users.

[2016-05-07 00:38] anonymousxxx02 commented on #554
I saw some ovh bots before 2hour...are they really patched????

[2016-05-07 00:48] anonymousxxx02 commented on #554
I just visit ovh site the bots are down

[2016-05-07 00:50] Nick8fr32 commented on #554
@LostCodesy does ur fix work still??

[2016-05-07 00:51] LostCodesy commented on #554
@Nick8fr32 yea my bots fixed now

[2016-05-07 00:52] LostCodesy commented on #554
New agar.io patch is too too hard

[2016-05-07 00:52] Nick8fr32 commented on #554
@LostCodesy can u send?

[2016-05-07 00:52] problemsofworld commented on #554
now ur's works like before . screen shot ?

[2016-05-07 11:46] yummybomb commented on #552
Gg. xD congrats

[2016-05-07 11:48] beaaan commented on #552
add me my skype Bean07 i will use their code to fix agarplus.io

[2016-05-07 15:27] problemsofworld opened #555 "new bots impossible #STOP BOTS WON AND WE LOSE"
agar.io protocol 100% changed

[2016-05-07 15:55] mayed505 opened #556 "I Fixed the bots :D"
im the first one to fix my own bots :dash:
https://gyazo.com/48f6db7da3eb58990dee729fa2a73d87

[2016-05-07 16:13] ghost commented on #556
I don't understand why u just scam ,

[2016-05-07 16:13] mayed505 commented on #556
@problemsofworld im not? i can proof it if you want....

[2016-05-07 16:14] mayed505 commented on #556
@problemsofworld the fix is pretty easy it has to do with the userscript.

[2016-05-07 16:14] ghost commented on #556
then just show bots , so other's can get hope to fix there bots

[2016-05-07 16:16] mayed505 commented on #556
@problemsofworld im not releasing it so agario doesnt patch it again

[2016-05-07 16:26] Nick8fr32 commented on #556
U dont have a fix cause ur bots Dont spawn in

[2016-05-07 16:35] mayed505 commented on #556
@Nick8fr32 how do the heck even you know?

[2016-05-07 16:36] Nick8fr32 commented on #556
because i fixed the server thing to but i cant connect because agario-client dont work anymore

[2016-05-07 16:40] ghost commented on #556
no one has fix yet .

[2016-05-07 16:40] mayed505 commented on #556
raga.pw and agarbot.ovh?

[2016-05-07 16:41] ghost commented on #556
rip

[2016-05-07 16:41] mayed505 commented on #556
im jsut chillling play slither.io with raga bots :D

[2016-05-07 16:41] yario-o commented on #556
the bots can't spawning

[2016-05-07 16:41] ghost commented on #556
shlither.io is shit I don't  like games thou lol

[2016-05-07 16:41] mayed505 commented on #556
worms.raga.pw

[2016-05-07 16:41] yario-o commented on #556
but there is a fix for the ip connect

[2016-05-07 16:41] Nick8fr32 commented on #556
agarbot.ovh dont work

[2016-05-07 16:42] Nick8fr32 commented on #556
yes @yario-o but it dont help when agario-client dont work

[2016-05-07 16:42] yario-o commented on #556
yes

[2016-05-07 16:43] yario-o commented on #556
The error when bot try to spawn is : getaddrinfo ENOTFOUND

[2016-05-07 16:43] ghost commented on #556
sad only pro coders can fix bots

[2016-05-07 16:43] yario-o commented on #556
But it will take long time

[2016-05-07 16:44] yario-o commented on #556
because the agario protocol had totally changed

[2016-05-07 16:44] ghost commented on #556
I  hate waiting  .

[2016-05-07 16:44] Nick8fr32 commented on #556
only a week i think XD we can also fix it if we work hard

[2016-05-07 16:44] yario-o commented on #556
yes

[2016-05-07 16:46] Nick8fr32 commented on #556
we need to fix agario-client -_- and its [closed](https://github.com/pulviscriptor/agario-client/issues/193) now

[2016-05-07 16:46] yario-o commented on #556
yes

[2016-05-07 16:46] yario-o commented on #556
But we can modify it

[2016-05-07 16:47] Nick8fr32 commented on #556
its gonna take alot of time o.O

[2016-05-07 16:47] yario-o commented on #556
yes

[2016-05-07 16:48] yario-o commented on #556
but it's the only way

[2016-05-07 16:48] Nick8fr32 commented on #556
i think i am just gonna start on bots for slither.io

[2016-05-07 16:48] yario-o commented on #556
okay

[2016-05-07 16:52] mayed505 commented on #556
@Nick8fr32 i dont think you would be sucess with that since raga.pw pays devs thousands of dollars in research.

[2016-05-07 16:52] mayed505 commented on #556
if i was rich as hell i would buy raga company :D

[2016-05-07 16:53] Nick8fr32 commented on #556
@mayed505 yea i dont know but i am gonna give it a try

[2016-05-07 16:53] mayed505 commented on #556
you atleast need an api first :/

[2016-05-07 16:53] yario-o commented on #556
@mayed505 he can do this
slither.io is a new game and the bots are not patch

[2016-05-07 16:54] mayed505 commented on #556
but you will need a server connect just like the skeleton of agario-client thats what i meant :D

[2016-05-07 16:54] yario-o commented on #556
@mayed505 There is also private server in slither.io and it don't take a long time

[2016-05-07 16:55] Nick8fr32 commented on #556
https://github.com/ClitherProject/Slither.io-Protocol

[2016-05-07 16:55] mayed505 commented on #556
@Nick8fr32 clever....

[2016-05-07 16:56] Nick8fr32 commented on #556
XD @mayed505

[2016-05-07 16:57] mayed505 commented on #556
we could work together im a js dev too i own 24 vps on my home server which was used for my bots :P

[2016-05-07 16:58] hassanila commented on #555
Yes, very possible to fix them but it will take a long time.. I just checked the "deobfuscated code" and I can see that it can be fixed.

[2016-05-07 16:59] Nick8fr32 commented on #555
so there is still hope out there @hassanila97

[2016-05-07 17:02] hassanila commented on #555
Yes, youll see bots everywhere very soon  and I have extracted some very useful new code.

[2016-05-07 17:02] Nick8fr32 commented on #555
are u going to share or do u keep it all private??

[2016-05-07 17:03] hassanila commented on #555
I will share a pic for helping but my code will be private.

[2016-05-07 17:03] Nick8fr32 commented on #555
okay

[2016-05-07 17:05] hassanila97 commented on #555
But my laptop 8gb ram 3.02ghz quad-core Windows 10 cant handle all those 40.000+ lines of code.. Its lagging as fuck

[2016-05-07 17:06] Nick8fr32 commented on #555
i will try to look into it

[2016-05-07 17:06] yario-o commented on #555
@hassanila97 I hope you will success

[2016-05-07 17:10] hassanila commented on #555
A hint for all of you is

 `var s = {`   and   `s.sockets`

ONLY ON DEOBFUSCATED CODE OFC

[2016-05-07 17:16] yario-o commented on #555
@hassanila97 Which JS file you deobfuscated?
And what do you use for deobfucast the code?

[2016-05-07 17:18] hassanila commented on #555
`agario.core.js`   but the info above is useful to only those that can code...

---

**HINT**

![2016-05-07 19_22_43-json2 js c__users_hassan_desktop_json2 js atom](https://cloud.githubusercontent.com/assets/15068696/15093458/28e812ca-1489-11e6-9f8f-98e655e31cbd.png)

[2016-05-07 17:20] yario-o commented on #555
@hassanila97 thx

[2016-05-07 17:43] ghost commented on #556
As the new agar patch  is hard i hired a coder

[2016-05-07 17:44] ghost commented on #556
If anyone wanna join team just say
the

[2016-05-07 17:45] Nick8fr32 commented on #556
i will not have a problem with joining @kurama129

[2016-05-07 17:45] ghost commented on #556
Skype of yours ill add you

[2016-05-07 17:45] ghost commented on #556
Nick skype

[2016-05-07 17:46] Nick8fr32 commented on #556
i dont send my skype public email me at: nickniko8132@gmail.com

[2016-05-07 17:48] wartoz commented on #556
it's a fake? i see agar.io/?ip.... it's a private server

[2016-05-07 17:48] wartoz commented on #556
and you hide the skins shop loading

[2016-05-07 17:48] Nick8fr32 commented on #556
@Wartoz private servers dont work anymore lol XD

[2016-05-07 17:49] wartoz commented on #556
it's easy you took a old screenshot and edit the date

[2016-05-07 17:49] wartoz commented on #556
proof send party link

[2016-05-07 17:49] wartoz commented on #556
and delete the message

[2016-05-07 17:50] ghost commented on #556
Sent

[2016-05-07 17:50] Nick8fr32 commented on #556
@he didnt he just fixed the server finder thing(easy)

[2016-05-07 17:50] wartoz commented on #556
and how you fix the server thing

[2016-05-07 17:51] Nick8fr32 commented on #556
@kurama129 are u jumbo??

[2016-05-07 17:54] ghost commented on #556
Yes but not real and name not based on agario jumbo

[2016-05-07 18:42] anonymousxxx02 commented on #556
Guys its a scam.... agario bots officially R.I.P

[2016-05-07 19:31] mayed505 commented on #556
😒 guys just implement agario main_js older into the script instead of requesting it through agario that what raga and client.pw did

Sent from my iPhone

[2016-05-07 19:36] SrNicolas commented on #556
mayed, talk me trough skype, I got some good things
 spawning bots in party mode, WORKING but I can't press play :p

[2016-05-07 20:15] ghost commented on #556
@SrNicolas  I  also make mind spawning but no control over them :( working on new client

[2016-05-07 22:24] Nick8fr32 commented on #556
@mayed505 what is ur skype

[2016-05-07 22:41] LAWX opened #557 "Bots are close to be fixed ! 08/05/2016"
# i have just find a solution so the bots connect to the server and they spawn !!!!
## Last thing to do it's to update the userscript  ! and fix the (Access-Control-Allow-Origin) error :+1:
Any new bots release will be uploaded to my channel
**# Link : (https://www.youtube.com/user/3IGUP)**

[2016-05-07 22:44] Nick8fr32 commented on #557
can u pr ur fix

[2016-05-07 22:48] LAWX commented on #557
i'm trying to find a solution here !!

[2016-05-07 22:53] MasonBurdette commented on #557
The fix is easy

[2016-05-07 22:54] Nick8fr32 commented on #557
no its not @MasonBurdette XD

[2016-05-07 23:04] MasonBurdette commented on #557
Just make a chrome extension that replaces agario with your own client

[2016-05-07 23:05] Nick8fr32 commented on #557
lol extensions dont work anymore??

[2016-05-07 23:10] LAWX commented on #557
u can't just came and make a new extention with no working javascripts -_-

[2016-05-07 23:22] MasonBurdette commented on #557
what do you mean? I use the chrome APIs to replace Agar.io html with Agar.io/v72 html. It's really not hard at all. ;)

[2016-05-07 23:25] ghost commented on #557
we fixed this before agario client is broken now working on new one I did get spawing bots from yestday yes spawing is easy but client is broken need new one almost 25% of new client is done

[2016-05-07 23:31] MasonBurdette commented on #557
Yes much of the protocol has changed. You can use something like `wireshark` to sniff the new packets. Then use `buffer-dataview` to replicate the packets. After that you can send them to the `agario server` using `websockets`.  Good Luck!

[2016-05-07 23:31] ghost commented on #557
@MasonBurdette  extensions dont work lol

[2016-05-07 23:32] MasonBurdette commented on #557
@problemsofworld you obviously don't understand then..  I have no clue what you are talking about.

[2016-05-07 23:33] ghost commented on #557
agario extensions are down if you use any extension you cant join any party but still works with tampermokey I dont know if it works with you or not :/

[2016-05-07 23:34] ghost commented on #557
all extensions are down  even agarplus :/

[2016-05-08 00:12] MinersMC commented on #551
lol

[2016-05-08 00:13] MinersMC commented on #548
Stop Advertising!

[2016-05-08 03:57] problemsofworld opened #558 "there's no fix that's it for now"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-05-08 03:57] ghost commented on #558
Everythink is secure asf now

[2016-05-08 03:58] problemsofworld commented on #558
I
Trying
Everythink is secure asf now
Can't even emit the position back to server anymore

[2016-05-08 06:35] LostCodesy commented on #557
@MasonBurdette give me your skype.

[2016-05-08 06:46] LostCodesy commented on #557
@LAWX do are you fixed socket closed error?

[2016-05-08 07:19] fayizan commented on #557
@MasonBurdette I understood about http://agar.io/v72/ and could you explain about wireshark My skype fayizbe

[2016-05-08 08:37] #558 closed

[2016-05-08 08:42] ghost commented on #557
I tried my best it's imposseble to fix no hope even agar client maker said if you it's easy to fix then you are not real coder you dont understand I fucked spend 20Hours it's impossible to FIX protocol is changed no hope

[2016-05-08 12:06] mayed505 commented on #556
@SrNicolas Sure i could be your meybots.com dev :P i knew about your bot service it looks awesome

[2016-05-08 12:26] k69sknk commented on #557
Guys we need to create and organize a working group to fix that. #savebots

[2016-05-08 14:08] ghost commented on #557
http://agar.io/v72/ is patched its no longer possible to fix it was the only hope

[2016-05-08 14:10] problemsofworld opened #559 "http://agar.io/v72/ is patched very harder to fix now"
money clip removed  http://agar.io/v72/ so wireshark will not work its harder to fix

[2016-05-08 14:14] mayed505 opened #560 "Made agario zoom works (Teaser)"
I got it working
https://gyazo.com/64f0a047a56463b011820a862920d52b

[2016-05-08 14:21] ghost commented on #560
good job mate

[2016-05-08 14:23] #559 closed

[2016-05-08 14:30] GGsP839X commented on #560
It's not working like the old zoom, because you can't see anything beyond your actual window size... so it's pretty useless, but a good start with the obfuscated (new) patch I think!

[2016-05-08 14:33] luloak2 commented on #557
@LAWX If you (or anyone else) needs some help deobfuscating the new protocol, let me know ;)

[2016-05-08 15:43] Yelbert commented on #556
you only need to update the userscript everytime you connect to a new server. I need to find a way to connect the bots AUTOMATICALLY to my server IP like not paste the new party IP to the bots :p I f u can help me with this ill let u work with me.

[2016-05-08 16:19] ghost commented on #557
i need help deobfuscating the new protocol

[2016-05-08 16:21] anonymousxxx02 commented on #560
Will you share the script???

[2016-05-08 17:09] yario-o commented on #556
@Yelbert Update the server automatically is easy but the bots don't work

[2016-05-08 17:26] yario-o opened #561 "Add tampermonkey script to chrome extensions"
I use a chrome extension for redirect agar.io to my own  client but tampermonkey script dont work. Why?

[2016-05-08 17:51] yario-o commented on #561
Si?

[2016-05-08 21:24] MrRageGamersMC commented on #560
Will you share bro

[2016-05-09 05:29] yario-o commented on #561
So?

[2016-05-09 14:59] problemsofworld opened #562 "THE END of BOTS"
#https://agar-server-1-party-privatebots.c9users.io/ priavte server like ruglar like agar   join to play

[2016-05-09 15:17] LAWX commented on #557
I'm trying so hard but there is no respond from the server ! :(

[2016-05-09 15:20] wartoz commented on #562
there is nothing on your website

[2016-05-09 15:20] wartoz commented on #562
No application seems to be running here!

[2016-05-09 15:26] LAWX opened #563 "Bots are Back !!!! [ Support ]"
## There is 1 way to get bots :-1:
## support this man he is trying so hard to get the bots back !!!
## we hope all to bring the old agario again :+1: **
# Link : https://www.youtube.com/watch?v=Ro3_e3NKTeI

[2016-05-09 15:40] wartoz commented on #562
turn in public

[2016-05-09 15:42] luloak2 commented on #557
@LAWX We should start a working group. Add me on skype if you want to, same username as I here.

[2016-05-09 16:40] wartoz commented on #563
awesome

[2016-05-09 18:06] ghost commented on #562
it works now lol
srry I was updating

[2016-05-09 18:12] GGsP839X commented on #562
Share the code for the bots with us/me? Would help a lot to develop a feeder bot for agar.io again :+1:

[2016-05-09 18:16] ghost commented on #562
this private server I cant do anything for bots :/

[2016-05-09 18:28] GGsP839X commented on #562
I won against your bots :ghost:

[2016-05-10 02:34] Qwerliety commented on #563
this is not bots

[2016-05-10 02:34] Qwerliety commented on #563
is bot, auto play...

[2016-05-10 02:34] Qwerliety commented on #563
but we can learn some thing from it

[2016-05-10 02:35] Qwerliety commented on #563
like connect server

[2016-05-10 02:36] Qwerliety commented on #562
.....
\]\;.wokhuwkgjhwagkheraghlkjfhgkjawbtlkjbd;gjvhjhbkjahrktjfkjejrhg
djghdjfh,ksjrgge
fuck you

[2016-05-10 03:19] ghost commented on #562
@Qwerliety  fuck you too kid

[2016-05-10 06:54] Flathe commented on #563
Maybe, but he's coding in C not JS, and this is for a agario-clone, not for Agar.io (not the same) :/

[2016-05-10 11:00] piyushdevcode commented on #561
Do u have skype

[2016-05-10 12:01] problemsofworld commented on #563
lol u already know what a nubs hah :D .

[2016-05-10 12:02] #562 closed

[2016-05-10 13:46] anonymousxxx02 opened #564 "old agar.io is back????"
changelog:
Reverted game back to the state it was a few days ago. I feel like there's a better way to add features without unbalacing the game, so I'll try that out soon.

There might be a Oceania server coming if there is interest. A South American server is planned but we're still trying to find a suitable host there.

A party system is in the works.

[2016-05-10 13:57] imangryskills commented on #564
What does this mean?

[2016-05-10 14:07] anonymousxxx02 commented on #564
go check agar.io Changelog

[2016-05-10 14:33] ghost commented on #564
that what is says Support: support [at] agar.io
Business inquiries: biz [at] agar.io
Please refrain from sending emails that aren't necessary, I receive a lot of emails already (seriously, a lot). Feature request should go to reddit.com/r/agario.
I apologize if I don't reply to your email, be assured that I have read it, but I don't have time to reply to all of them.

[2016-05-10 14:35] anonymousxxx02 commented on #564
sorry my fault..i read it from bottom

[2016-05-10 14:43] #564 closed

[2016-05-10 14:45] ghost commented on #564
:/

[2016-05-10 19:00] mastkilxp commented on #563
@qwerliety stop spam like that next time and write in one comment.

[2016-05-12 09:16] MinersMC commented on #563
lol

[2016-05-12 09:25] MinersMC commented on #551
i successfuly Obtained agario IP (Automatic)

[2016-05-12 11:15] LostCodesy opened #565 "I need agar.io old graphics"
Hello,

I need agar.io old graphics,

index.html, main_out.js, i18.js, environment.js, agario.js and other files

Please give me, my skype = greenskypark

Thanks to everyone.

[2016-05-13 10:41] MinersMC commented on #565
https://gyazo.com/930fdb208eb2739e3ee180b028cad79a i obtained the ip.... but the spawn packets are changed :/

[2016-05-13 21:36] problemsofworld opened #566 "the return of bots proof!"
https://www.youtube.com/watch?v=mR1BwNbOnpQ&feature=gp-n-y&google_comment_id=z12tunupkribv1y0g23ggx0i0vuhzv5ke

[2016-05-14 06:27] yario-o commented on #566
Before update...

[2016-05-14 06:33] yario-o commented on #566
The leaderboard look like before update but it is after update

[2016-05-14 11:14] ghost commented on #566
no lol look at the skins

[2016-05-14 14:18] yario-o commented on #566
Yes but the leaderboard is like before the update

[2016-05-14 17:02] wartoz commented on #566
fake

[2016-05-14 21:37] ghost commented on #566
it's not

[2016-05-14 21:38] ghost commented on #566
there's 13th of Friday skins  in video
;P

[2016-05-15 04:37] ghost commented on #566
whats a rainbow code

[2016-05-15 08:53] Wartoz opened #567 "bots are back livestream proof"
https://youtube.com/watch?v=w8CjaRMo_yg

[2016-05-15 10:16] Wartoz opened #568 "need help spawn packets instant disconnect"
http://i.imgur.com/SbCTIoG.png

[2016-05-15 10:46] ghost commented on #568
same here

[2016-05-15 12:52] kurama129 opened #569 "how to update a packet"
how to update the pakets and protocl to make it work

[2016-05-15 13:34] hassanila commented on #569
Reverse enginner the code.

[2016-05-15 14:31] wartoz commented on #569
http://i.imgur.com/SbCTIoG.png

[2016-05-15 14:31] wartoz commented on #569
https://github.com/SNSA/agario-code

[2016-05-15 15:03] ghost commented on #569
i twigx explain plz

[2016-05-15 15:29] fayizan commented on #569
which one need to reverse engineered,Please give some hints

[2016-05-15 15:30] ghost commented on #569
fayizan that agario client v2

[2016-05-15 15:32] fayizan commented on #569
well where I have to use that client..?
in ogar-feeder-bot...?
sorry I m noob..lol

[2016-05-16 04:05] MinersMC commented on #569
@Wartoz are u iTwiGX?

[2016-05-16 15:23] ItzLevvie commented on #569
@MinersMC Yes he is.

[2016-05-16 17:56] sandor111 commented on #566
More proof https://www.youtube.com/watch?v=ekn21U4HZE8 :D

[2016-05-16 23:13] Lukkez commented on #566
@problemsofworld Here isn't a good location for that, but you can add to your team a account called "SnakeYT" it's a new one i got by a friend, he give me

[2016-05-17 00:42] MinersMC commented on #569
@ItzLevvie ok.

[2016-05-17 23:48] Andrews54757 commented on #557
It wouldnt work anyway as you need to send a special key to the agario server that changes over time

[2016-05-17 23:51] Andrews54757 opened #570 "RIP ogar feeder bot"
Reason: because of moneyclip

Dont scam that it works btw, because
1. Client sends a special key to the server now that changes over time
2.  they have a captcha
3. also, they have other server-side protections (I probably devised for them and I wont explain long story)

[2016-05-18 01:19] skyleter commented on #570
Rip, btw got $7 selling some 24/7 feeders.  [Like raga.pw, option to start - no downloads]. It was fun  :'(

Have the fix. But for 10 minions get it now => http://abs0fuck3r.ml  (extension & working - send message in tawk for discount :smile: )

[2016-05-18 10:12] wartoz commented on #570
R.I.P let's moove into slither feeder bot :+1:

[2016-05-19 01:57] 2368432172 opened #571 "Bots gonna be back?"
Hi I am just wondering if the Agar.io bots are going to be back. Are you guys going to find a way to fix the bots? Thanks a lot.

[2016-05-19 07:19] anonymousxxx02 commented on #571
Bots are back!!!!
Clientm.pw

[2016-05-19 07:23] anonymousxxx02 opened #572 "Bots are officially back!!!"
Hi guys..i just find out that clientm.pw bots are back

[2016-05-19 08:00] 2368432172 commented on #572
Hi, is there any free bots that work now? Thanks

[2016-05-19 08:04] 2368432172 commented on #571
WOW not even free

[2016-05-19 08:20] 2368432172 commented on #571
Any FREE one?

[2016-05-19 09:00] anonymousxxx02 commented on #572
@2368432172 no

[2016-05-19 09:00] anonymousxxx02 commented on #571
@2368432172  no

[2016-05-19 11:13] problemsofworld opened #573 "bots are back check agario lobbies of bots"
Please do not ask for proxies
Please do not talk about cheating on public servers.

[2016-05-19 11:14] ghost commented on #572
same the agario lobbies full of clientm.pw bots

[2016-05-19 11:16] ghost commented on #573
clientm.pw bots are working right now !!!

[2016-05-20 04:16] beaaan commented on #570
LOL

[2016-05-20 10:43] davidmann4 commented on #570
RIP IN PEACE - ogar still works, agario never worked

[2016-05-21 11:27] RaxBoon opened #574 "Agar.io bots are back"
Hello eh investigates and told me to run bots need to update the ip manually as you do that?

[2016-05-21 11:28] RaxBoon commented on #573
Hello eh investigates and told me to run bots need to update the ip manually as you do that?

[2016-05-21 11:28] RaxBoon commented on #572
Hello eh investigates and told me to run bots need to update the ip manually as you do that?

[2016-05-21 11:28] RaxBoon commented on #571
Hello eh investigates and told me to run bots need to update the ip manually as you do that?

[2016-05-21 12:18] MineMooreALT commented on #574
I wanna know too i try as hard as i can to find the ip but is bassicly impossible i think they go to agar.io/#PARTY

[2016-05-21 12:25] RaxBoon commented on #574
If but ok consiguimos the IP address of party where we put it

[2016-05-21 12:27] RaxBoon commented on #574
It has to be in the console log or with SNSA next https://github.com/SNSA/agario-code

[2016-05-21 22:09] anonymousxxx02 commented on #572
@RaxBoon even if you update ip manually bots will not work...agario client dont work anymore

[2016-05-22 02:48] RaxBoon commented on #572
ok tanks you

[2016-05-22 04:31] GrevenSound commented on #574
@RaxBoon I think you can see IP with firebug (in firefox) with console...
PD: U speak spanish?

[2016-05-22 13:12] #561 closed

[2016-05-22 21:58] RaxBoon commented on #574
yo hablo español

[2016-05-27 03:00] 2368432172 opened #575 "WOW bots"
When the bots coming back plox

[2016-05-27 08:57] MinersMC commented on #574
https://gyazo.com/65f7106869fb0b9d4f99cd0614054bda

[2016-05-27 08:58] MineMooreALT commented on #574
No way!!!

[2016-05-27 08:58] MineMooreALT commented on #574
How ???

[2016-05-27 08:58] MinersMC commented on #573
https://gyazo.com/65f7106869fb0b9d4f99cd0614054bda Not Manual

[2016-05-27 09:00] MineMooreALT commented on #574
skype?

[2016-05-27 09:14] MineMooreALT commented on #573
MinersMC how?

[2016-05-27 09:24] mayed505 commented on #575
@2368432172 they wont.... even agarbots.ovh stopped its service :( since moneyclip keeps chaning their protocol everyday.

[2016-05-27 21:31] RaxBoon commented on #574
how???

[2016-05-27 21:55] RaxBoon commented on #573
MinersMC help me and i gitf one minecraft premium account

[2016-05-28 01:11] polarbear2g commented on #574
what if he just typed that in note pad or something, took a screen shot, and is trolling us

[2016-05-28 05:06] ghost commented on #575
someday nobody ever know ........................

[2016-05-28 12:47] MinersMC commented on #574
nope.

[2016-05-28 12:47] MinersMC commented on #574
its on terminal

[2016-05-28 12:52] MinersMC commented on #574
@polarbear2g i have proofs bro

[2016-05-28 17:57] RaxBoon commented on #574
i need bots plis

[2016-05-29 00:50] MineMooreALT commented on #574
Proof please MinersMC + Skype? i wanna see this in action

[2016-05-29 02:31] MinersMC commented on #574
https://gyazo.com/fbc26b84b94bd3fca0c022e103c8ac24 gyazo gif proofs. if u dont bealive me.

[2016-05-29 14:44] RaxBoon commented on #574
plis help me minersmc

[2016-05-30 03:03] 0katz commented on #575
Bots still works just not publicly

[2016-05-30 08:41] MinersMC commented on #574
@RaxBoon why?

[2016-05-30 09:04] WJKH commented on #574
LMAO YOUTUBERS

[2016-05-30 12:38] Qwerliety commented on #574
@MinersMC You were lying for all the time

[2016-05-30 13:45] RaxBoon commented on #574
MinerMc because nose how to fix them and you really bro porfa I need them to play

[2016-05-31 09:02] MinersMC commented on #574
oh well. @Qwerliety is a moneywhore.

[2016-06-01 01:35] #572 closed

[2016-06-01 01:38] SharkFinProductions commented on #572
YAY

[2016-06-02 20:23] yummybomb opened #576 "Bot Fixes"
Please do not ask for proxies
Please do not talk about cheating on public servers.
Please do not talk about how this won't be fixed.

Please.......

[2016-06-02 21:44] AlexandriteErikParacelsus commented on #576
Wtf

[2016-06-02 21:48] ItzLevvie commented on #576
no @yummybomb

[2016-06-04 10:34] davidmann4 commented on #576
added it to the template, great idea

[2016-06-07 22:04] #241 closed

[2016-06-07 22:04] #442 closed

[2016-06-09 05:21] MineMooreALT opened #577 "Server ip finder !!!! great news"
"Please do not ask for proxies
Please do not talk about cheating on public servers.
Please do not talk about how this won't be fixed." I don't give a fuck.
https://www.youtube.com/watch?v=G6AS5emh46Q !

[2016-06-09 21:25] makandz commented on #577
@davidmann4 Delete this.

[2016-06-10 04:54] MinersMC commented on #577
@MastaCoder Agreed Delete This CRAP.

[2016-06-10 16:01] #577 closed

[2016-06-11 16:12] Wawy123 opened #578 "Fixed but help!"
i know how to get server ip!

[2016-06-11 16:13] idkRage commented on #578
can anyone make to bots connect by changing ip in script?
i know how to get server ip after patch!

[2016-06-11 16:17] wartoz commented on #578
everybody knows just update agar expose code

[2016-06-12 18:18] davidmann4 commented on #578
can you link the newest expose code?

[2016-06-13 00:23] fayizan commented on #578
I think this [guy](https://github.com/SNSA) have the new expose code

[2016-06-13 00:26] fayizan commented on #578
Check this one too  https://github.com/xzfc

[2016-06-13 03:57] David1ali12 commented on #578
ogar is working with agario client so it must so possible to fix ogar feeder  ogar fixed their packets ,

[2016-06-13 20:16] #575 closed

[2016-06-14 09:07] 2368432172 opened #579 "Bots are out! Unpatched"
Hi i saw many bots coming out today including gbots and bagar.io. Im wondering when will the free bots be out. Thanks so much!

[2016-06-14 14:33] idkRage commented on #579
i know how to get ip but i dont know how to update script so you can paste ip in
help!

[2016-06-14 14:41] idkRage commented on #578
hey  its like this :http://i.imgur.com/IB8YjN5.png?1

[2016-06-14 14:46] idkRage commented on #578
i found this when i was making extension!
witch does not work :(
but i found ip!

[2016-06-14 14:51] idkRage commented on #578
link is m.agar.io/findServer

[2016-06-14 14:56] idkRage commented on #578
if u need this: http://agar.io/mc/agario.js?v=697
and http://agar.io/js/master.js this
i dont know if u need it.
just like this.
i found this.

[2016-06-14 14:58] idkRage commented on #578
i found this in script of agar.io : "split","extension|browser|to|if|it|null|document|getElementById|is|uninstall||the|NOT|that|are|allowed|using|WILL|we|banned|be|You|nYou||WARNING|cc|log|console|function||skinsselect-container|users|alert|begin|refreshCount|banning|you|don|warning|related|any|find|Agar|io|This|only|delete|and|Extensions|on|for|nTo|this|go|before|then|click|settings","","fromChar

[2016-06-14 21:57] David1ali12 commented on #578
just use packets of ogar project it should work

[2016-06-14 22:00] David1ali12 commented on #579
agar.io give its protocol to ogar private server so this means its easy to fix we just need to use packets of ogar project I cant fix why I'm not a coder , bagario use news packets which ogar project have but as soon as ogar feeder unpatched bots they will patch again :(
https://github.com/OgarProject/Ogar/tree/master/src/packet

[2016-06-15 11:58] idkRage commented on #578
k

[2016-06-15 16:49] ghost commented on #578
wawy whats your skype and did it work

[2016-06-15 20:00] agarioBotDev commented on #579
@David1ali12 as you may have noticed, agar.io changes it protocoll daily - with the new structure and the game client download it got easy for them. If you give me packets, I can do the packets stuff in minutes....

BUT ogar don't include the new packets.

[2016-06-16 11:50] idkRage commented on #578
i dont fix it yet because i am not a coder but i know how to connect to server!

[2016-06-16 11:55] idkRage commented on #578
my skype: wawyagar

[2016-06-16 23:29] MasonBurdette commented on #578
@davidmann4 contact me on skype.  I have working bots, currently converting it to NodeJS.

[2016-06-17 06:49] wartoz commented on #578
and what's your skype @MasonBurdette

[2016-06-17 10:47] David1ali12 commented on #578
Why you are so smart XD  @MasonBurdette

[2016-06-17 10:50] David1ali12 commented on #579
@agarioBotDev  what about multi ogar it can work with different packets
take a look https://github.com/Barbosik/MultiOgar/

[2016-06-17 11:49] ghost commented on #578
hey mason i have a project for you and i will also pay you

[2016-06-17 12:55] MasonBurdette commented on #578
For anyone wondering my Skype it is 'masonthegreifer'. However I am not giving anything out other than proof.

[2016-06-17 12:58] David1ali12 commented on #578
@MasonBurdette do you sell it though I will pay 100$ or 1 month vps 12 core 32Gb ram I use personal only

[2016-06-17 13:06] agarioBotDev commented on #579
@David1ali12 nope - agar.io packets are srambled, protocol is like version 5 in the core. Ogar works, because if ip is defined in url and don't exist in their databases agar.io accept the old, unscrambled packets. Bagar.io found out how to "translate" the packets.

[2016-06-17 13:23] ghost commented on #578
mason added you

[2016-06-17 21:34] RaxBoon commented on #579
@agarioBotDev  You speak spanish

[2016-06-20 09:24] hammadissexy commented on #574
BOTS ARE BACK!

[2016-06-20 13:36] Yamanourani opened #580 "How can i get those bots to run on an Ogar private server? hosted on a vps"
skype: p4rtyguy.1o

[2016-06-21 17:44] RaxBoon commented on #580
add me skype enano_0310 send how to run bots

[2016-06-22 19:37] agarioBotDev commented on #579
@RaxBoon Nope. I have everything ready on client side - map coords, player coords, server ip and party code. The scrambled packets make problems on bot side. Would be appriciated for any help from smart coders.

PS: i speak german

[2016-06-22 22:55] Ben-Lazrek-Yassine commented on #579
Sooo RIP ogar bots ? there is no chance that they'll come back ?

[2016-06-23 13:01] RaxBoon commented on #579
@agarioBotDev tu skype cual es

[2016-06-23 16:43] mastkilxp commented on #579
what packet are we talking here about excactly?

[2016-06-23 17:21] David1ali12 commented on #580
need some help as well how can I use Ogar-feeder for my private server

[2016-06-29 07:49] fayizan opened #581 "Free Bots Alive"
@davidmann4 This extension provides free bot but not working fine like ogarfeederbot,hope it helps you

https://www.dropbox.com/s/543iaqjxw712nei/Infinity%20-%20Release.zip?dl=0

[2016-07-01 02:35] AgarLuckyBots opened #582 "BOTS ARE BACK !!!!!!!!!!!!! FREE!!!"
DOWLOAD ?? xD xD xD xD

http://imgur.com/jLFpoHg
:+1: :+1:

[2016-07-01 09:51] wartoz commented on #582
they dont spawn bro stop troll

[2016-07-02 13:58] wartoz commented on #578
any news here?

[2016-07-02 17:41] MasonBurdette commented on #578
@wartoz Yes just use agario.core.js to make your bots...

[2016-07-03 03:30] zhirzh commented on #436
can you please post how you solved the issue?

I am facing the same problem right now and can't fix it

[2016-07-04 04:29] imangryskills commented on #581
The link is broken . New one?

[2016-07-04 14:50] nfsboy101 opened #583 "Can somebody please modify this program to run bots on cellcraft.io untill the agarbots gets fixed?"
Can somebody please modify this program to run bots on cellcraft.io untill the agarbots gets fixed?

[2016-07-05 15:21] wartoz commented on #582
and what about your agarluckybot project bro

[2016-07-05 22:34] AdibAgar opened #584 "HELPPP :((((("
How can i run slither.io bots on c9.io PLEASE :'(

[2016-07-05 22:38] ItzLevvie commented on #584
Don't use C9 for running bots or hosting servers.

[2016-07-09 19:06] DaAwesomeRazor opened #585 "Its a backdoor"
Please do not ask for proxies
Please do not talk about cheating on public servers.
Please do not talk about how this won't be fixed.

[2016-07-09 19:07] #585 closed

[2016-07-10 04:32] imangryskills opened #586 "8 Free bots. Not very good, but they work :D"
These are not mine, I just got them from a friend. Any Ideas on how to improve them? Like  using a VPS.

Here is the link: https://www.dropbox.com/s/s3l54x982lh8g8p/Infinity%20-%20Release.zip?dl=0

[2016-07-12 05:21] sejo153 opened #587 "Anyone got fix ? :)"
Please do not ask for proxies
Please do not talk about cheating on public servers.
Please do not talk about how this won't be fixed.

[2016-07-12 17:29] wartoz commented on #587
code yourself

[2016-07-12 19:05] David1ali12 commented on #587
Sejo its me david we are making some new bots written C++ it works on agario private server very soon it will support agario servers Add me on my new skype : david12ali9

[2016-07-13 20:57] sejo153 commented on #587
Wartoz can you help me im kinda bad with that :'D
david added u :)

[2016-07-24 21:17] sejo153 opened #588 "anyone can make me macro script?"
I need for tricksplit, doublesplit and feed. Thanks

[2016-07-28 17:04] Ben-Lazrek-Yassine commented on #588
1-kys
2-this is not a request repo
3-get what ever u want from here https://greasyfork.org/fr/scripts/by-site/agar.io
4-GTFO :)

[2016-07-29 14:30] sejo153 opened #589 "problem with fps in agar, please help"
I know this is not anything about the bots or idk but im asking for help.

Here are mine laptop specs:
processor: core 2 duo T5670 1.80GHz running 64bit windows 7 system
ram memmory: 2GB
grapichs:Mobile Intel(R) 4 Series Express Chipset Family - 64MB

Grapich card seems prety bad, but it shouldnt lag that much

I got 40-50fps if no one is near my cell, and if it is u got like 30-35fps

Thanks :))

[2016-07-31 16:37] AlexandriteErikParacelsus commented on #588
@bangana tru

[2016-08-01 03:26] #588 closed

[2016-08-04 17:26] polarbear2g commented on #589
It should lag that much i have a 4duo 4 gb ram and get 30fps, i upgraded my graphics card and now it is 100fps

[2016-08-05 23:45] sejo153 opened #590 "come on guys, how agar infinity works, there gotta be something to do"
even myb edit agar infinity to have 10 bots

[2016-08-05 23:45] #589 closed

[2016-08-05 23:50] polarbear2g commented on #590
I only get 2 bots, pretty lame.

[2016-08-06 13:54] ZfsrGhS953 commented on #590
In a few weeks, I will start working on bots for SCRAMBLED Ogar and MultiOgar servers :). Check it out at ZfsrGhS953/agario-client

[2016-08-07 15:01] fayizan commented on #590
@sejo153  how did u edit it....

[2016-08-07 18:07] ZfsrGhS953 commented on #590
Currently it's not working. It will be started in a few weeks.

[2016-08-08 10:16] fayizan commented on #590
@ZfsrGhS953 please don't make minions for Ogar instead make it for agar.io

[2016-08-08 12:59] ZfsrGhS953 commented on #590
Yes, but I need to make minions for Ogar first to understand how to make them for agar.io.

[2016-08-10 05:32] NuclearC commented on #590
@ZfsrGhS953 i already made bots for multiogar, add me on skype :nuclear.agar i can help you

[2016-08-11 12:02] ZfsrGhS953 commented on #590
You mean you made bots for scramble level 2 and 3? I'm asking because agario.city has scramble level 1. BTW I'm trying to decode protocol 9, check it out here: https://github.com/ZfsrGhS953/agario-client It still doesn't work, but I edited some code by observing how MultiOgar sends packets to clients with protocol 6,7,8 (and 9, that one was added yesterday)

[2016-08-11 14:41] NuclearC commented on #590
no it's lvl 1 :P anyway official agario uses something like scramble lvl 1 because it's not sending fake border packets like MultiOgar's lvl 2.
EDIT: everything is actually implemented, only i need to learn some maths and it'll work on scramble lvl 2 :)
EDIT2: it can connect to one of agario servers (151.80.98.51:1523) and get world size:
width: 14142.135623730952
height: 14142.135623730952
scramb

[2016-08-11 17:18] ZfsrGhS953 commented on #590
Did you decrypt protocol 9?

[2016-08-11 17:29] NuclearC commented on #590
no i'm sending in order:
[!] Sent: fe 09 00 00 00
[!] Sent: ff  00 35 fa dd
server response:
[!] Recv: ff 2b 00 00 00 f0 1c 40 ae 06 d6 76 8c b2 c1 c0 8b 03 c5 95 b1 8d c1 c0 a3 93 90 ca 09 d9 b3 40 ea 99 b2 8c bf 22 b4 40 08 00 00 00 38 2e 30 2e 32 00 : world size
[!] Recv: f1 4b 09 5e a7 : IDK
[!] Recv: 3b 0b 92 4e 7a 04 95 4c 7d 0f 9d 4a 7f 09 91 4b 7e 08 9c 49 : world update or lb
EDIT: I thin

[2016-08-28 00:37] sejo153 opened #591 "Any ideas for fix. Agarinfinity is working well with browsec -.-"
Its working but im sick of lag, so anyone got any fix for those beauty bots?

skype: sejo.dedic4

[2016-09-06 00:56] Mystik21 opened #592 "Other bots work..."
Why not fix these bots? i saw alot of people these days have bots...AGARINFINITY,SINGACLAN (300bots)...alot of bots like before the fix. Why not fix ogar feeder bots? :/

[2016-09-06 17:57] DeltaEnemy commented on #592
Because nobody decrypted the protocol 9, and who did it don't want to share with anyone

[2016-09-09 19:27] ZfsrGhS953 commented on #592
AgarInfinity is not working right now, but I like it. Not like before the update, destroying everyone with 250, 300, 350, 400, 450 or 500 bots, but just 35 bots. That's a bit more than raga(30 minions) when it started. It is much funnier to play with such amount of minions :)

[2016-09-10 18:06] sejo153 commented on #592
its ain't decrypted because everyone gave up

[2016-09-15 14:40] MasonBurdette commented on #592
Mine work... Making a video tonight.

youtube.com/MasonYTOfficial

[2016-09-15 14:56] anonymousxxx02 commented on #592
@MasonBurdette will you share your bots??

[2016-09-15 21:20] Jhair2015 opened #593 "This is usable for MultiOgar?"
This is usable for MultiOgar?

[2016-09-15 21:25] ItzLevvie commented on #593
Yes, it works on any emulators.

[2016-09-16 19:01] idkRage commented on #592
i have 300 free working bots xD

[2016-09-16 19:06] ItzLevvie commented on #592
I'm using SingaClan / UBots script for 300 bots :P

[2016-09-16 19:12] sejo153 commented on #592
How the fuck -.- Im sick of these guys who already steal from someone and wont share. :P

[2016-09-16 19:13] Nick8fr32 commented on #592
I use singa recoded code too but i am gonna use DR.goats bots when they get fixes again

[2016-09-16 19:14] sejo153 commented on #592
@Nick8fr32 Come one share with me :3 I'll let you fuck my life for 300 bots :'D

[2016-09-16 19:15] Nick8fr32 commented on #592
U Can just wait Like until tomorrow and then dr.goat is done and we can use that again

[2016-09-16 19:17] sejo153 commented on #592
I have no idea what's that, link me? :PP  (i found lel )

[2016-09-16 20:38] Shair17 commented on #593
HOW? :)

[2016-09-17 09:17] idkRage commented on #592
my work

[2016-09-18 03:27] ogarfeederlove opened #594 "BOTS WORKING, HELP ME!"
Bots are constantly connected, then immediately disconnected, what's the problem in proxy? agar.io ban proxies? help:)

Screenshot : +1:  http://i.imgur.com/GffEVWI.jpg
Skype : SICKER.BOG

[2016-09-19 15:48] sejo153 commented on #594
dr.goat project?

[2016-09-20 05:57] ogarfeederlove commented on #594
no!

[2016-09-20 18:17] EternalStrikerFTW commented on #594
ogarfeederlove add me on skype : minestriker0010

[2016-09-22 14:54] ZfsrGhS953 opened #595 "Bots work :) Good bots."
Bots: http://agarinfinity.com/
Please note that Agar Infinity emulates a agar.io page for each bot, because the owner couldn't decrypt agario.core.js. Because of this, a strong PC is needed.
Recommended settings:
Amount of bots: 35
Browser: Chrome 64-bit
Proxy: Betternet VPN
CPU: i7-4770 or higher
RAM: 8GB or higher

How to discover more bots?
For this, need to debug agario.core.js.
If you watch c

[2016-09-22 15:04] ZfsrGhS953 commented on #593
Not at the moment. Normal mode is out of question, because multi-ogar scrambles coordinates and  borders. Blind mode doesn't work either, because multi-ogar scrambles IDs, so it won't work. However, you can replace checking for the same ID to checking color and name. To avoid impersonation of the bots in case color somehow matches, bots can generate random name each time they spawn. Also, it would

[2016-09-22 17:02] fayizan commented on #593
@ZfsrGhS953 thats how the chither bots work right..?

[2016-09-22 17:10] fayizan commented on #593
@ZfsrGhS953 [agario-client2](https://github.com/SNSA/agario-client2) seems to be finished and working,please check it

[2016-09-22 19:21] ZfsrGhS953 commented on #593
That's not how chither bots work. It's impossible to make bots in multi-ogar follow mouse at all the times (unless you can predict the outcome of Math.random() on the server). That's why I made scrambling work differently in my multi-ogar fork: instead of Math.random() it makes the spawn point always (0, 0) relative to the client. And agario-client2 is outdated and doesn't work.

[2016-09-24 01:42] agariotips commented on #595
http://192.99.58.70/deobfuscate/ < very good deobfuscator (if needed)

[2016-09-24 08:09] ZfsrGhS953 commented on #595
That's good. However, asm.js isn't on deobfuscation list. I need a deobfuscator that can convert asm.js back into minified javascript.

[2016-09-24 14:21] fayizan commented on #595
@ZfsrGhS953 this guy claim he decrypted core.js,look at his github https://github.com/G047/Agar.io-Bots

[2016-09-24 16:06] nuclearc commented on #595
@ZfsrGhS953 i'm working on my client too. I can encrypt/decrypt packets as well , but i have big problem.
Problem is about packet 113. Client needs to response to it. Its generated from 112 that server sent and 255(init 1). Maybe you have some info about that?

[2016-09-26 11:39] ZfsrGhS953 commented on #595
Starting value is 673720360. I'm also developing my own bots for agar.io clones(like Agar-API.tk). Currently, I'm trying to implement coordinate scrambling, so that the bots can work on agarlist.com.

[2016-09-26 11:44] yario-o commented on #595
Lol nuclearc said : It isn't good to put starting value here and you did it

[2016-09-26 11:45] ZfsrGhS953 commented on #595
He said that HE doesn't want to put the id here, he didn't tell ME anything about it.

[2016-09-26 11:46] nuclearc commented on #595
then how is my server working with protocol v9? starting value = 0x28282828 ^ ....

[2016-09-26 11:47] yario-o commented on #595
Oh okay

[2016-09-26 11:58] ZfsrGhS953 commented on #595
Because everything's right! 673720360 is 0x28282828 in hex.

[2016-09-26 11:59] nuclearc commented on #595
ye but its xored with init1

[2016-10-11 17:18] MasonBurdette commented on #595
@nuclearc @ZfsrGhS953
so would you XOR this for the decryption :
Packet 255 ^ Packet 241

I suppose the key(s) reset everytime Packet 241 is sent.  Also, when/how often is 241 sent to client?

[2016-10-11 17:31] nuclearc commented on #595
no key is reset on packet 18

[2016-10-11 18:02] MasonBurdette commented on #595
@nuclearc you're friends with razor and sonic, right? add me on skype 'masonburdette@outlook.com'.

[2016-10-11 18:09] NuclearC commented on #595
cant find you :/ can you add me? my skype is nuclear.agar

[2016-10-13 09:56] David1ali12 commented on #595
I just saw Mass bots today , did you guys made it ?

[2016-10-13 11:25] MasonBurdette commented on #595
@David1ali12 those are Chither bots. I just finished my bots, but they are 10 mass. I have the byte converter, but I haven't gotten enough accounts.

[2016-10-13 12:05] Wawy123 opened #596 "Fb BOTS ARE BACK!!!!"
Fb Bots are back chither.com
i find something go to agar.io and tipe in browser console dfpInitialized=facebookLogin

[2016-10-13 15:49] MasonBurdette commented on #596
Yes, there is a algorithm to convert an access token to proxyMobileData.

[2016-10-15 05:56] m-byte918 commented on #593
@ZfsrGhS953 <del>Can you tell me where the code is located for the scrambling of ID's and mouse coordinates using Math.random() is located? I'm trying to test some bots, I just need to know where this code is located so I can edit/remove it.</del> EDIT: have my own repo now lol

[2016-10-15 20:57] Ralphwaldopicklechips opened #597 "Singa bots on private server?"
hello i found this script on greasyfork for singa bots and i was wondering how could I use the bots on my private server?
heres the link to the script im trying to use https://greasyfork.org/en/scripts/22654-singa-extension
the only problem im having is that when i try to go to my private server using agar.io/?ip= it redirects me agar.io/singaclan.tk? then i cant connect to it at all. im trying to

[2016-10-15 20:58] davidmann4 commented on #593
pull request?

[2016-10-18 03:30] Shair17 commented on #597
These are robots vanilla, were good, which are not compatible with MultiOgar or any other Ogre

[2016-10-18 11:23] MasonBurdette commented on #597
They can be edited to disable integrity checks, meaning the encryption in the core is not actively running anymore. So yes, these could work.

[2016-10-18 22:57] Ralphwaldopicklechips commented on #597
but how edit?

[2016-10-19 17:59] idkRage opened #598 "agar.io core decoded? or no idk help i will update all!"
agar.io core.js
link : http://www.filedropper.com/core

[2016-10-22 05:36] MinersMC commented on #596
@MasonBurdette
var token = ""
  var bytes = [8, 1, 18, token.length + 25, 1, 8, 10, 82, token.length + 20, 1, 8, 2, 18, 13, 8, 5, 18, 5, 50, 46, 49, 46, 50, 24, 0, 32, 0, 26, token.length, 1];

  for (var i = 0; i < token.length; i++) bytes.push(token.charCodeAt(i));

  setTimeout(function() {
  window.core.proxyMobileData(new Uint8Array(bytes));
  }, 1000);

[2016-10-22 20:45] MasonBurdette commented on #596
@MinersMC I wouldn't give that out publicly...

[2016-10-22 21:49] MinersMC commented on #596
@MasonBurdette but i just did lol

[2016-10-22 21:50] MinersMC commented on #596
just deleted the massage lol

[2016-10-23 13:37] ImHITMan commented on #596
I know this topic is for agario, But is it possible to make the Ogar-feeder bot made by Davidmann4 and make it work on Mgar.io?

[2016-10-23 16:27] MasonBurdette commented on #596
@ImHITMan easily

[2016-10-23 16:29] Nick8fr32 commented on #596
i already did lol XD @lmangani

[2016-10-24 22:51] ImHITMan commented on #596
@MasonBurdette What would you have to do? I've been told that You will have to change OPCodes and protocol And some other stuff,

[2016-10-24 22:52] ImHITMan commented on #596
@MasonBurdette Would it be possible for you to do that for me? I'd really appreciate it a lot.

[2016-10-25 18:50] ImHITMan commented on #580
To do so, Depending on what type it is, MultiOgar or OgarUnlimited, You'll need to fix stuff like OPCodes etc, I know what you are talking about, I'm currently doing it myself because of the new game called "Mgar.io"

[2016-10-25 18:54] ImHITMan commented on #592
The reason why other bots work is they used to use a "Peer2Peer" system which basically means, Say for example, 300 people are using my script which gives you 2 bots per person, I'm sending one of my bots to the owner of the script which basically means, They are using our bots so If I gave my script to 300 people, I'd be getting 600. Sorry If I didn't explain it as good

[2016-10-25 23:42] ImHITMan commented on #591
Well the only 2 options i can possibly give is:
1) Upgrade your internet to a better plan
2) Get a new PC
I know this may sound harsh but if you were to have those, The lag would be reduced and would make a huge difference

[2016-10-25 23:44] ImHITMan commented on #590
Reason why agarinfinity works is because the bots are based on a "Peer 2 Peer" System which basically means, It's hard to ban the IP's used for the bots because they keep switching

[2016-10-25 23:52] ImHITMan commented on #557
@Andrews54757 Is right, There is now a thing where You need a special key which grants access to agario servers, But the key changes everyday

[2016-10-25 23:54] ImHITMan commented on #570
Well, There is a way to make the Ogar-feeder bot work for multiogar, But you'd need to update the opcodes and re-make the userscript etc

[2016-10-26 00:01] ImHITMan commented on #579
@bangana What do you mean "RIP Ogar bots"?, I have a clientside version of ogar bots which work for Ogar unlimited, To make it work for Mgar, All I'd really have to do is change some opcodes and done.

[2016-10-26 21:36] ItzLevvie commented on #592
^^ They don't actually use a "Peer2Peer" system

[2016-10-27 22:10] ImHITMan commented on #592
I was talking about agarinfinity but thanks for the extra piece of information

[2016-10-27 22:17] ItzLevvie commented on #595
"@ZfsrGhS953 this guy claim he decrypted core.js,look at his github https://github.com/G047/Agar.io-Bots" - @fayizan

That's related to SC bots not a decrypted agario.core.js

[2016-10-28 17:51] ImHITMan commented on #595
ItzLevvie He might have, I know him. His original name was DrGoat. if the decrypted version is written in CSS then it is right.

[2016-10-28 18:01] ItzLevvie commented on #595
"ItzLevvie He might have, I know him. His original name was DrGoat. if the decrypted version is written in CSS then it is right."

Ah, okay. I didn't know that he created a new account lol

[2016-10-29 13:11] ImHITMan commented on #597
What you could do is make the script work for the private server but don't think the bots will work
On the tampermonkey script you should see something simillar to this:

// @match      _.agar.io/_
That basically means that the script should be working for agar.io
to make the script show up on the private server, You'd have to add another // @match underneath the existing one
// @match      _.agar

[2016-10-29 14:26] fayizan commented on #597
lol you are making it too complicated @ImHITMan
 Just do
`// @match        http://agar.io/*`

[2016-10-29 22:34] ImHITMan commented on #597
^^

[2016-11-02 05:46] luisbriyan commented on #13
@davidmann4  podría por favor ayudarme con lo mismo pero en gota.io ?? Es lo mismo que agar, pero con otro name.. Intento hacer que solo 1 cell me siga a donde está la cell master, pero no lo consigo.

[2016-11-08 02:15] Ralphwaldopicklechips commented on #597
nevermind found working bots on multiogar! but thanks anyway!

[2016-11-10 16:27] CalvinDKL opened #599 "d"
Please do not ask for proxies
Please do not talk about cheating on public servers.
Please do not talk about how this won't be fixed.

[2016-11-14 21:20] TrapKillo opened #600 "Fix ?"
If anyone have the fix plz contact me on skype 👍 xhuli.mile.5
If he give me the fix i will give him alis.io bots ! sorry i dont have what to give :/

[2016-11-15 19:35] Andrews54757 opened #601 "Request"
Hello, recently I have developing a project called OpenAgar. I have come here to request one thing from @davidmann4 . OpenAgar uses a special key system like agar.io does to protect its servers from bots. @davidmann4, Please don't update your bots to work with OpenAgar. Even though OpenAgar uses socket.io instead of ws, please don't do it. You may update your bots so it works with open agar when t

[2016-11-16 00:22] davidmann4 commented on #601
ok cool

[2016-11-16 00:22] #601 closed

[2016-11-19 01:04] dada211 commented on #600
hi I have bots on alis.io but they do not follow my mouse help me fix my skype didi15101994

[2016-11-19 22:06] karanius commented on #257
make invisible bots???????
how??

[2016-11-28 08:57] ghost commented on #600
@dada211 ok

[2016-11-30 17:49] Eskof opened #602 "Looking to get this working on cellcraft"
Paying $  to help me to make it works, ty

My skype http://pastebin.com/raw/EeS5giB7

[2016-12-06 20:30] CalvinDKL commented on #436
PLS POST FIX!

[2016-12-18 15:21] MrAlexEsisteGia commented on #602
i want to help, but idk how!

[2016-12-28 18:20] idkRage commented on #602
ik how it works fine xd

[2017-01-04 17:06] iTzTati opened #603 "davidmann4 i need your help."
I know that you left this project already, i want to do anything but i dont know how where can i contact you? i leave you my skype and discord here
Skype: itztati14 Or iTzTati
Discord: Tati#2487
@davidmann4

[2017-01-04 17:42] Shair17 commented on #603
this project is dead

[2017-01-04 23:42] Tatitooo commented on #603
I know but... I made a Coords system to this project but i got a problem, i just want to talk whit Davidmann4

[2017-01-05 00:58] davidmann4 commented on #603
sup?

[2017-01-05 00:59] davidmann4 commented on #603
added you - my skype is david.mann.rsa

[2017-01-05 13:35] ghost commented on #602
@Wawy123 Can u show me ? xD
skype : xhuli.mile5 👍

[2017-01-05 15:16] Tatitooo commented on #603
Thanks.

[2017-01-05 23:00] Tatitooo commented on #603
@davidmann4 , i actually send you Friend Request, i didnt got yours, if you can discord is more stable and we can talk easier, Thanks You Tati#2487

[2017-01-06 19:46] idkRage commented on #593
i moded it so it works on multiogar and added collec pellets xd

[2017-01-06 19:50] idkRage commented on #602
ye its easy

[2017-01-06 20:23] davidmann4 commented on #593
pull request!

[2017-01-06 20:23] davidmann4 commented on #602
pullrequest!

[2017-01-06 20:25] davidmann4 commented on #603
ok

[2017-01-10 20:27] idkRage commented on #602
idk. not kinda interested

[2017-01-17 15:22] notavailabledeveloper opened #604 "Packet error detected for packet"
Hello, I am getting this error about Packet error.
How should I fix it?
I commented "throw err" and bots are appearing on map, but they are not moving.
I also commented in ws/lib/WebSocket.js onError function, but same result.

[code]

[2017-01-19 19:25] systemeg55 opened #605 "help?"
hi im using ogar feeder bot on private server and im getting +100 bots anyway
config.client_uuid //// is it possible to add more than 1 uuid ?
i want to add more than 1 uuid

and config.client_uuid again i want to make it public
i mean people connect to the server and they get bots without adding uuid

and when i play and change server the bots will still running on the first server how to fix thi

[2017-01-20 05:47] dada211 commented on #605
*.agarios.com/*
// @match       *.agarz.com/*
// @match       http://agarix.esy.es/*
// @match       *.www.galx.io/*
// @match       *.old.ogarul.io/*
// @match       *.agar.red/*
// @match       *.bubble.am/*
// @match       *.gota.io/*
// @match       *.agariohub.net/*
// @match       *.agarserv.com/*
// @match       *.agarioservers.ga/*
// @match       *.alis.io/*
// @match       *.agarioplay.o

[2017-01-26 15:12] ghost commented on #604
bots are patched why u need the dix ?

[2017-01-26 15:54] notavailabledeveloper commented on #604
They are not moving in game

[2017-01-29 14:58] ghost commented on #604
k contact me on skype then !
skype: xhuli.mile5

[2017-02-05 15:10] ghost commented on #605
guys it's not working for me...give me answer plese

[2017-02-05 16:10] Abdessalam-saghiri opened #606 "help!!"
i followed tutorial's steps...and nothing happening...it givs me this msg"agario-feeder-bot started! Join a game in Chrome with the Userscript installed.Press CTRL + C to stop this script."and no bots coming to me...they still offline...please help me...(sorry for my english)

[2017-02-11 12:29] agariowow commented on #605
// @match .[agar.io](http://agariowow.com)
// @match .[agario](http://agarprivateserver.com)
// @match .[agario unblocked](http://agario-private.com)
// @match .[agario play](http://agarioplay.biz)
// @match .[agario.kim](http://agario.kim)
// @match .[agario pvp](http://agario.zafer2.com)
// @match .[agario.games](http://agario.games)
// @match .[easyagario.net](http://easyagario.net)
// @match .

[2017-02-11 19:37] ghost commented on #606
Patched

[2017-03-03 05:58] heliocosta-dev commented on #606
patched more than 1 year ago lol you are funny

[2017-03-16 16:02] sejo153 opened #607 "can this be rewrited for gota.io ?"
Please do not ask for proxies
Please do not talk about cheating on public servers.
Please do not talk about how this won't be fixed.

[2017-03-17 16:55] Nick8fr32 commented on #607
yea it is already done

[2017-03-17 18:40] sejo153 commented on #607
Is it public? i know for that nightox script or whatever it's called

[2017-03-17 21:14] sejo153 commented on #607
Anyways if it's not public, could you help me about next:
As i know gota does not have **botper** ip limt. Well i have some script but it doesnt give me that much bots so i want to increase by "botper ip" thing.  Well here are the files i got and idk where to go because there is no **config** or somehin like that.
![capture](https://cloud.githubusercontent.com/assets/17197564/24063166/d40f1582-0b5

[2017-03-18 12:15] ghost commented on #607
![image](https://cloud.githubusercontent.com/assets/22413046/24071889/da43f2c0-0b99-11e7-99ba-e3e68431f5f5.png)
as you can see !

[2017-03-18 15:42] sejo153 commented on #607
What should i see there, only person runing bots lol

[2017-03-20 02:35] sejo153 opened #608 "Read pls"
Hi
Im wondering can i make google trace my mouse and commands  when it's minimized.
(Its for gota pc version ) So i can run bots on gota cilent with zero lag.

[2017-03-20 17:52] ghost commented on #607
@sejo153  lmao isn't this you want xd

[2017-03-20 19:47] sejo153 commented on #607
@TrapKillo loll  you show me your picture running bots, good job you helped me alot !!

[2017-03-22 15:47] SAV-404 commented on #606
LMAO

[2017-04-02 19:50] #595 closed

[2017-04-06 18:04] #608 closed

[2017-04-06 18:05] sejo153 opened #609 "Agario bots are alive ?"
Please do not ask for proxies
Please do not talk about cheating on public servers.
Please do not talk about how this won't be fixed.

[2017-04-06 22:26] David1ali12 commented on #609
Sejo there is no way for agar bots again because agario is using captcha
there some bots working for 5-10 mins and they get banned
captcha :/
 you can play alis.io instead it has bots mode

[2017-04-08 00:51] systemeg55 commented on #609
yep agario bots are alive but they will get disconnected after 15 minutes because of the captcha

[2017-04-08 14:48] sejo153 commented on #609
Oh damn then :D

[2017-04-09 18:35] NuclearC commented on #609
ugh actually they dont disconnect i could use them for more than an hour

[2017-04-21 14:31] sejo153 commented on #609
@NuclearC  Share with us 15 mins is still 15mins :'D

[2017-05-07 15:27] nerdtron123 opened #610 "Does this work?"
I haven't been able to get bots to join, is there a working tutorial?

[2017-05-07 18:11] davidmann4 commented on #610
it is broken since this project is not maintained anymore, if you fix it you can create a pull request

[2017-05-14 12:36] systemeg55 opened #611 "Collect pellets mode"
collect pellets mode aka bot ai
how to make bots collect pellets using a hotkey for example "P" ?

[2017-05-21 18:20] NuclearC commented on #611
im a turtle.

[2017-05-21 18:21] systemeg55 commented on #611
im a potato.

[2017-05-26 15:29] LowderPlay opened #612 "Bots not connecting"
Hello! I have my Ogar server (https://github.com/OgarProject/Ogar/), it works. But when i start bots, i have only `ogar-feeder-bot started! Join a game in Chrome with the Userscript installed.
Press CTRL + C to stop this script.` and status in addon is offline. Sorry for my bad English.

[2017-05-26 17:48] ItzLevvie commented on #612
This will not work with the latest Agar.io update. (ogar-feeder-bot is outdated, and discontinued)

[2017-06-02 23:14] SAV-404 commented on #612
@ItzLevvie even when i'm playing in the old version??

[2017-06-03 09:54] ItzLevvie commented on #612
The old version of Agar.io client will work fine with agario-feeder-bot

[2017-06-03 16:46] NuclearC commented on #556
nice.

[2017-06-03 16:47] NuclearC commented on #611
make yourself this is ded.

[2017-06-03 18:17] yario-o commented on #556
@NuclearC ??

[2017-06-03 20:06] ItzLevvie commented on #556
tomato

[2017-06-12 01:01] lefela4 opened #613 "AGAR.IO PROTOCOL"
Hi ! I am lefela4.
I fixed the hole agar.io procole + FB !
I have a question for you. I have problem whit map offset for the userscript or the feeder.
My bots go in corner or idk where.
They follow my mouse in their position.
I do :
		var playerRealX = (window.player.x - m.minx) / length_x;

		var playerRealY = (window.player.y - m.miny) / length_y;

like you say in the minimap project

var botRea

[2017-06-12 01:03] henopied commented on #613
Well, you must first look at the demodulated modulator modulation module, then you can apply the fn change onto the x, y euclidean plane.

[2017-06-12 01:03] ghost commented on #613
lol

[2017-06-12 01:04] ghost commented on #613
u are wrong !Cz u alway say thing have no sence. I figured out the protocol whitout what u said so no.

[2017-06-12 01:19] MrSonicMaster commented on #613
So basically you need to overmodulate the reverse d0x script from DrBoat and DrGot and then you can reverse the polarity of the reverse script handler on agar.io and it will reactivate the demodulation processor thread causing the X and Y to become overmodulated, revealing their real value. Thats how 2 fix move

[2017-06-12 19:26] ghost commented on #613
tf ?

[2017-06-12 19:26] ghost commented on #613
No, u hate me lol.

[2017-06-13 04:20] MrSonicMaster commented on #613
No that's 100%noscamtotallylegit the way to do it

[2017-06-13 16:00] TrapKillo commented on #612
@ItzLevvie You mean protocol 5 and less.

[2017-06-13 16:09] LowderPlay commented on #612
Where i can get old version of Agar.io?

[2017-06-13 22:33] ghost commented on #613
lol. He is funny no?

[2017-06-15 05:20] MrSonicMaster commented on #613
nolie

[2017-06-18 00:52] ghost commented on #613
hahaha,

[2017-06-18 05:54] MrSonicMaster commented on #613
idk y u say hahahha becuz thats h0w 2get real XY value

[2017-07-22 12:27] sandor111 commented on #296
rip

[2017-08-15 23:59] evinjohn commented on #546
Yo u have the code?

[2017-08-16 00:01] evinjohn commented on #491
cupid u got code?

[2017-11-12 08:12] ninjacreator commented on #534
@dada211 hey can u add me skype ?

[2017-11-19 00:27] Optimusprimeagario commented on #613
just close this shit

[2017-12-08 01:54] #603 closed

[2017-12-08 01:55] Tatitooo commented on #603
^ Not a issue

[2017-12-12 05:33] MrSonicMaster commented on #613
L

[2017-12-12 15:10] #613 closed

[2017-12-16 20:33] MrSonicMaster commented on #613
L
L
L
L
L
L
L
L
lefela you are a good coder

[2017-12-16 21:51] Optimusprimeagario commented on #613
L L L L

[2017-12-17 15:36] SuperOP535 commented on #556
potato

[2017-12-17 18:27] NuclearC commented on #556
modulator modulation demodulate module for nodejs

[2017-12-18 17:39] SuperOP535 commented on #556
?????

[2018-01-31 18:17] idkRage commented on #611
;)

[2018-07-19 22:53] MrSonicMaster commented on #613
:+1: :-1: :100: :1234:

[2018-08-07 05:11] op-client commented on #596
give me algorithm to convert an access token to proxyMobileData

[2018-11-03 17:15] ghost commented on #613
lol

[2018-11-03 17:16] ghost commented on #613
it dead

[2019-01-22 18:53] NuclearC commented on #613
biiitch

[2019-01-22 18:54] NuclearC commented on #613
overmodulated modulator modulation hacksbuffer xored lefela with minions.ovh's ass

[2019-01-22 20:14] StrikerJS commented on #613
and reversed md6 hash xored with byte 0x03 of the hack buffer bytelength

[2019-01-22 23:13] KillEmUp commented on #613
just build lol

[2019-01-23 02:12] ghost commented on #613
kids are here to build a wall.

[2019-01-27 16:09] Lemons1337 commented on #613
Have you demodulated the protobuf init key with the reversed synthetic obstructor?

[2019-03-01 16:03] ghost commented on #613
yes

[2019-03-01 16:03] ghost commented on #613
WE MUST TO BUILD A WALL.

[2022-09-13 15:14] #576 closed